---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b58e961470281f0239d13c63a4fed25e"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-03-31T14:07:13.505Z","updated_at":"2015-03-31T14:07:13.505Z"},{"id":2,"name":"Trim
        Trail","description":"Get fit and health plus earn some badges","created_at":"2015-03-31T14:07:13.511Z","updated_at":"2015-03-31T14:07:13.511Z"}]'
  recorded_at: Tue, 31 Mar 2015 14:28:16 GMT
recorded_with: VCR 2.9.3
