---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges?user=t.skarbek-wazynski
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Invalid search
        parameter: t.skarbek-wazynski, must be university email address or library
        card number.","status":"422"}}'
  recorded_at: Thu, 16 Jul 2015 10:38:08 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges?user=t.skarbek-wazynsky@lancaster.ac.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Unable to find
        user with specified data t.skarbek-wazynsky@lancaster.ac.uk","status":"404"}}'
  recorded_at: Thu, 16 Jul 2015 10:38:08 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges?user=081897144451
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Unable to find
        user with specified data 081897144451","status":"404"}}'
  recorded_at: Thu, 16 Jul 2015 10:38:09 GMT
recorded_with: VCR 2.9.3
