---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"57b276a40ab583bebc36a113326c9ffa"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-04-16T13:34:11.963Z","updated_at":"2015-04-16T13:34:11.963Z"},{"id":2,"name":"Trim
        Trail","description":"Get fit and health plus earn some badges","created_at":"2015-04-16T13:34:11.970Z","updated_at":"2015-04-16T13:34:11.970Z"}]'
  recorded_at: Thu, 16 Apr 2015 14:26:22 GMT
recorded_with: VCR 2.9.3
