---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e71f17a0c88daeca6c7d5a7bd96817e0"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-04-17T16:05:52.985Z","updated_at":"2015-04-17T16:05:52.985Z"},{"id":2,"name":"Trim
        Trail","description":"Get fit and health plus earn some badges","created_at":"2015-04-17T16:05:52.992Z","updated_at":"2015-04-17T16:05:52.992Z"}]'
  recorded_at: Mon, 27 Apr 2015 09:28:17 GMT
recorded_with: VCR 2.9.3
