---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/collections.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5bfb0c08dad1a211186dfb5b81354c50"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-03-27T10:53:26.782Z","updated_at":"2015-03-27T10:53:26.782Z"},{"id":2,"name":"Trim
        Trail","description":"Get fit and health plus earn some badges","created_at":"2015-03-27T10:53:26.787Z","updated_at":"2015-03-27T10:53:26.787Z"}]'
  recorded_at: Fri, 27 Mar 2015 11:36:55 GMT
recorded_with: VCR 2.9.3
