---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/badges?collection_id=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dfcc7332a8e55f8990a8a3cc02d161e7"'
    body:
      encoding: UTF-8
      string: '[{"id":5,"name":"You Trim Trailed!","description":"Description?","requirements":"Complete
        one lap of the trim trail","hint":"Have to used the trim trail?","image":"http://openbadges.org/wp-content/themes/openbadges2/media/images/content-background.png","recipient_id":null,"issuer_id":null,"collection_id":2,"issued_at":null,"created_at":"2015-03-30T14:59:37.644Z","updated_at":"2015-03-30T14:59:37.644Z"},{"id":6,"name":"Marathon
        Man","description":"Description?","requirements":"Complete 10 laps of the
        trim trail over any time","hint":"Keep going...","image":"http://openbadges.org/wp-content/themes/openbadges2/media/images/content-background.png","recipient_id":null,"issuer_id":null,"collection_id":2,"issued_at":null,"created_at":"2015-03-30T14:59:37.647Z","updated_at":"2015-03-30T14:59:37.647Z"}]'
  recorded_at: Mon, 30 Mar 2015 20:38:11 GMT
recorded_with: VCR 2.9.3
