---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/collections.json?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ff6e5fdc4959f4c1e74dfcf78a7d59f7"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-03-27T10:53:26.782Z","updated_at":"2015-03-27T10:53:26.782Z"}]'
  recorded_at: Fri, 27 Mar 2015 11:48:28 GMT
recorded_with: VCR 2.9.3
