---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges?user=t.skarbek-wazynski
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Unable to find
        user with specified data t.skarbek-wazynski. Recipient data must be a university
        email address, university card number or username.","status":404}}'
  recorded_at: Thu, 27 Aug 2015 15:29:34 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges?user=t.skarbek-wazynsky@lancaster.ac.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Unable to find
        user with specified data t.skarbek-wazynsky@lancaster.ac.uk. Recipient data
        must be a university email address, university card number or username.","status":404}}'
  recorded_at: Thu, 27 Aug 2015 15:29:34 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges?user=081897144451
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Unable to find
        user with specified data 081897144451. Recipient data must be a university
        email address, university card number or username.","status":404}}'
  recorded_at: Thu, 27 Aug 2015 15:29:35 GMT
recorded_with: VCR 2.9.3
