---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges?collection_id=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"038c15ea7b272dc86e9ae2a654408e23"'
    body:
      encoding: UTF-8
      string: '[{"id":5,"name":"You Trim Trailed!","description":"Description?","requirements":"Complete
        one lap of the trim trail","hint":"Have to used the trim trail?","image":"http://gamification-api.dev/uploads/badge/image/5/seed.png","collection_id":2,"created_at":"2015-04-16T13:44:50.290Z","updated_at":"2015-04-16T13:44:50.290Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/5/grey_seed.png"},{"id":6,"name":"Marathon
        Man","description":"Description?","requirements":"Complete 10 laps of the
        trim trail over any time","hint":"Keep going...","image":"http://gamification-api.dev/uploads/badge/image/6/seed.png","collection_id":2,"created_at":"2015-04-16T13:44:50.345Z","updated_at":"2015-04-16T13:44:50.345Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/6/grey_seed.png"}]'
  recorded_at: Thu, 16 Apr 2015 13:59:37 GMT
recorded_with: VCR 2.9.3
