---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7c478ae81f6e9077684027d0c5fa401d"'
    body:
      encoding: UTF-8
      string: '[{"id":"library","name":"Library","description":"Use your library and
        earn badges","created_at":"2015-09-03T10:51:07.747Z","updated_at":"2015-09-03T10:51:07.747Z","total_points_available":125,"badge_count":4,"object":"collection"}]'
  recorded_at: Thu, 03 Sep 2015 10:59:40 GMT
recorded_with: VCR 2.9.3
