---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d3ec3ca8697be6cef1ec81da5d3e7e6b"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-03-31T14:07:13.505Z","updated_at":"2015-03-31T15:05:42.955Z"},{"id":79,"name":"Trim
        Trail","description":"Get fit and health plus earn some badges","created_at":"2015-04-09T13:11:54.884Z","updated_at":"2015-04-09T13:11:54.884Z"}]'
  recorded_at: Thu, 09 Apr 2015 14:14:21 GMT
recorded_with: VCR 2.9.3
