---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3883f8ebc2b6dec3d56daddf53d1983c"'
    body:
      encoding: UTF-8
      string: '[{"id":"library","name":"Library","description":"Use your library and
        earn badges","created_at":"2015-07-16T09:21:22.292Z","updated_at":"2015-07-16T09:21:22.292Z","total_points_available":125,"object":"collection"},{"id":"trim-trail","name":"Trim
        Trail","description":"Get fit and health plus earn some badges","created_at":"2015-07-16T09:21:22.318Z","updated_at":"2015-07-16T09:21:22.318Z","total_points_available":100,"object":"collection"}]'
  recorded_at: Mon, 27 Jul 2015 16:14:32 GMT
recorded_with: VCR 2.9.3
