---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5c4315e7071c60743e06b45f4a502161"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-04-17T16:05:52.985Z","updated_at":"2015-04-17T16:05:52.985Z"}]'
  recorded_at: Mon, 27 Apr 2015 09:28:16 GMT
recorded_with: VCR 2.9.3
