---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"056438540c81261d54c2961a470e4f52"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":1,"created_at":"2015-04-17T16:05:53.136Z","updated_at":"2015-04-17T16:05:53.136Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png"}]'
  recorded_at: Mon, 27 Apr 2015 13:02:26 GMT
recorded_with: VCR 2.9.3
