---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d02686dec9ba5048cc7da52079f33aae"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-03-30T14:59:37.612Z","updated_at":"2015-03-30T14:59:37.612Z"},{"id":2,"name":"Trim
        Trail","description":"Get fit and health plus earn some badges","created_at":"2015-03-30T14:59:37.618Z","updated_at":"2015-03-30T14:59:37.618Z"}]'
  recorded_at: Tue, 31 Mar 2015 13:43:38 GMT
recorded_with: VCR 2.9.3
