---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/badges?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"16425768a0634029d9ec58ce9a6923c4"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://openbadges.org/wp-content/themes/openbadges2/media/images/content-background.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-03-27T10:53:26.809Z","updated_at":"2015-03-27T10:53:26.809Z"}]'
  recorded_at: Fri, 27 Mar 2015 11:46:43 GMT
recorded_with: VCR 2.9.3
