---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bd8ed1599a1f80f5b28e4186b344a982"'
    body:
      encoding: UTF-8
      string: '[{"id":"library","name":"Library","description":"All of the badges
        available related to library data","created_at":"2015-04-17T16:05:52.985Z","updated_at":"2015-04-28T12:38:59.304Z"},{"id":"trim-trail","name":"Trim
        Trail","description":"Get fit and health plus earn some badges","created_at":"2015-04-17T16:05:52.992Z","updated_at":"2015-04-28T10:22:49.702Z"}]'
  recorded_at: Thu, 30 Apr 2015 13:42:24 GMT
recorded_with: VCR 2.9.3
