---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"43576ad53463793979d13e7d7422b932"'
    body:
      encoding: UTF-8
      string: '[{"id":"library","name":"Library","description":"All of the badges
        available related to library data","created_at":"2015-04-17T16:05:52.985Z","updated_at":"2015-04-28T12:38:59.304Z"}]'
  recorded_at: Thu, 30 Apr 2015 13:42:22 GMT
recorded_with: VCR 2.9.3
