---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges?collection_id=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b14fbdd7658f3d6f2536890583e79c84"'
    body:
      encoding: UTF-8
      string: '[{"name":"You Trim Trailed!","description":"You ran one lap of the
        trim trail","requirements":"Complete one lap of the trim trail","hint":"Have
        to used the trim trail?","image":"http://gamification-api.dev/uploads/badge/image/5/seed.png","collection_id":"trim-trail","created_at":"2015-07-14T14:14:17.042Z","updated_at":"2015-07-14T14:14:17.042Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/5/grey_seed.png","required_badges":[],"points":25,"id":"you-trim-trailed"},{"name":"Marathon
        Man","description":"You have run 10 laps of the trips trail that is 47 kilometers","requirements":"Complete
        10 laps of the trim trail over any time","hint":"Keep going...","image":"http://gamification-api.dev/uploads/badge/image/6/seed.png","collection_id":"trim-trail","created_at":"2015-07-14T14:14:17.130Z","updated_at":"2015-07-14T14:14:17.130Z","level":"gold","image_greyscale":"http://gamification-api.dev/uploads/badge/image/6/grey_seed.png","required_badges":[],"points":25,"id":"marathon-man"}]'
  recorded_at: Tue, 14 Jul 2015 15:47:24 GMT
recorded_with: VCR 2.9.3
