---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6e845784c8bbb294009d2b7fc144377d"'
    body:
      encoding: UTF-8
      string: '[{"name":"Book Worm","description":"You have loaned out over 25 books.
        Nice going!","requirements":"Loan out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/badge_images/book-worm/badge.png","collection_id":"library","created_at":"2015-07-16T09:21:22.448Z","updated_at":"2015-07-24T15:26:40.086Z","level":"bronze","auto_issue":false,"required_badges":[],"points":25,"object":"badge","id":"book-worm"}]'
  recorded_at: Mon, 27 Jul 2015 16:12:05 GMT
recorded_with: VCR 2.9.3
