---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/badges?collection_id=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"004970aa9a3d7696ac8d52c991075b45"'
    body:
      encoding: UTF-8
      string: '[{"id":5,"name":"You Trim Trailed!","description":"Description?","requirements":"Complete
        one lap of the trim trail","hint":"Have to used the trim trail?","image":"http://openbadges.org/wp-content/themes/openbadges2/media/images/content-background.png","recipient_id":null,"issuer_id":null,"collection_id":2,"issued_at":null,"created_at":"2015-03-31T14:07:13.542Z","updated_at":"2015-03-31T14:07:13.542Z"},{"id":6,"name":"Marathon
        Man","description":"Description?","requirements":"Complete 10 laps of the
        trim trail over any time","hint":"Keep going...","image":"http://openbadges.org/wp-content/themes/openbadges2/media/images/content-background.png","recipient_id":null,"issuer_id":null,"collection_id":2,"issued_at":null,"created_at":"2015-03-31T14:07:13.544Z","updated_at":"2015-03-31T14:07:13.544Z"}]'
  recorded_at: Tue, 31 Mar 2015 14:28:13 GMT
recorded_with: VCR 2.9.3
