---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1//badges?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ab8a30f4e88e5875ea18b29ce6d53c4a"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://openbadges.org/wp-content/themes/openbadges2/media/images/content-background.png","collection_id":1,"created_at":"2015-03-31T14:07:13.526Z","updated_at":"2015-04-09T10:48:49.269Z"}]'
  recorded_at: Thu, 09 Apr 2015 13:29:44 GMT
recorded_with: VCR 2.9.3
