---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e91fa3bc7c47fedb996c1d19d53a220f"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-03-31T14:07:13.505Z","updated_at":"2015-03-31T15:05:42.955Z"},{"id":2,"name":"Trim
        Trail","description":"Get fit and health plus earn some badges","created_at":"2015-03-31T14:07:13.511Z","updated_at":"2015-03-31T14:07:13.511Z"}]'
  recorded_at: Wed, 01 Apr 2015 10:24:59 GMT
recorded_with: VCR 2.9.3
