---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/recipients?user=dfsgsdgg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Unable to find
        user with specified data dfsgsdgg. Recipient data must be a university email
        address, university card number or username.","status":404}}'
  recorded_at: Thu, 03 Sep 2015 10:56:09 GMT
[...]
- request:
    method: get
    uri: http://gamification-api.dev/v1/recipients?user=j.stennet@lancaster.ac.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Unable to find
        user with specified data j.stennet@lancaster.ac.uk. Recipient data must be
        a university email address, university card number or username.","status":404}}'
  recorded_at: Thu, 03 Sep 2015 10:56:09 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/recipients?user=j.stennet@lancaster.ac.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Unable to find
        user with specified data j.stennet@lancaster.ac.uk. Recipient data must be
        a university email address, university card number or username.","status":404}}'
  recorded_at: Thu, 03 Sep 2015 10:56:09 GMT
recorded_with: VCR 2.9.3
