---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/recipients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No user specified.
        Please specify user as a param using either university email or university
        card. e.g user=user@lancaster.ac.uk","status":422}}'
  recorded_at: Fri, 17 Jul 2015 15:20:17 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/recipients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No user specified.
        Please specify user as a param using either university email or university
        card. e.g user=user@lancaster.ac.uk","status":422}}'
  recorded_at: Fri, 17 Jul 2015 15:20:17 GMT
recorded_with: VCR 2.9.3
