---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="foo"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token realm="Application"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"The API key is
        missing or invalid","status":401}}'
  recorded_at: Thu, 16 Jul 2015 10:39:45 GMT
recorded_with: VCR 2.9.3
