---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/recipients?user=dfsgsdgg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Invalid search
        parameter: dfsgsdgg, must be university email address or university card number.","status":422}}'
  recorded_at: Fri, 24 Jul 2015 15:36:24 GMT
[...]
- request:
    method: get
    uri: http://gamification-api.dev/v1/recipients?user=j.stennet@lancaster.ac.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Unable to find
        user with specified data j.stennet@lancaster.ac.uk","status":404}}'
  recorded_at: Fri, 24 Jul 2015 15:36:24 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/recipients?user=j.stennet@lancaster.ac.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Unable to find
        user with specified data j.stennet@lancaster.ac.uk","status":404}}'
  recorded_at: Fri, 24 Jul 2015 15:36:24 GMT
recorded_with: VCR 2.9.3
