---
http_interactions:
- request:
    method: get
    uri: https://gamification-api.dev/v1/badges/1?expand=collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"39ba12dc263e2f289462422462930c7f"'
    body:
      encoding: UTF-8
      string: '{"name":"Book Worm","description":"You have loaned out over 25 books.
        Nice going!","requirements":"Loan out 25 books","hint":"You must like books...","image":"https://gamification-api.dev/badge_images/book-worm/badge.png","collection_id":"library","created_at":"2015-11-18T11:39:58.956Z","updated_at":"2015-11-18T11:39:58.956Z","level":"bronze","auto_issue":false,"status":"live","required_badges":[],"points":25,"object":"badge","collection":{"id":"library","name":"Library","description":"Use
        your library and earn badges","created_at":"2015-11-18T11:39:58.859Z","updated_at":"2015-11-18T11:39:58.859Z"},"id":"book-worm"}'
  recorded_at: Thu, 19 Nov 2015 15:41:27 GMT
recorded_with: VCR 2.9.3
