---
http_interactions:
- request:
    method: get
    uri: https://gamification-api.dev/v1/badges/marathon-man
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0fac1fb012ef81ead6788b7c45bad3f7"'
    body:
      encoding: UTF-8
      string: '{"name":"Marathon Man","description":"You have run 10 laps of the trips
        trail that is 47 kilometers","requirements":"Complete 10 laps of the trim
        trail over any time","hint":"Keep going...","image":"https://gamification-api.dev/badge_images/marathon-man/badge.png","collection_id":"trim-trail","created_at":"2015-11-18T11:40:20.303Z","updated_at":"2015-11-18T11:40:20.303Z","level":"gold","auto_issue":false,"status":"live","required_badges":[],"points":75,"object":"badge","id":"marathon-man"}'
  recorded_at: Thu, 19 Nov 2015 15:31:06 GMT
- request:
    method: post
    uri: https://gamification-api.dev/v1/badges/marathon-man/requires
    body:
      encoding: UTF-8
      string: required_badge%5Bid%5D=you-trim-trailed
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: you-trim-trailed","status":404}}'
  recorded_at: Thu, 19 Nov 2015 15:31:06 GMT
- request:
    method: post
    uri: https://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Blevel%5D=silver&badge%5Bname%5D=Create+Badge&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"832626c4208c709a5021b4d6073d56af"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"https://gamification-api.dev/badge_images/create-badge/badge.png","collection_id":"library","created_at":"2015-11-19T15:40:52.393Z","updated_at":"2015-11-19T15:40:52.393Z","level":"silver","auto_issue":false,"status":"draft","required_badges":[],"points":50,"object":"badge","id":"create-badge"}'
  recorded_at: Thu, 19 Nov 2015 15:41:00 GMT
[...]
- request:
    method: post
    uri: https://gamification-api.dev/v1/badges/create-badge/requires
    body:
      encoding: UTF-8
      string: required_badge%5Bid%5D=required-badge
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d9fb2e750d6784[...]
- request:
    method: delete
    uri: https://gamification-api.dev/v1/badges/create-badge/requires?required_badge%5Bid%5D=required-badge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"832626c4208c709a5021b4d6073d56af"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"https://gamification-api.dev/badge_images/create-badge/badge.png","collection_id":"library","created_at":"2015-11-19T15:40:52.393Z","updated_at":"2015-11-19T15:40:52.393Z","level":"silver","auto_issue":false,"status":"draft","required_badges":[],"points":50,"object":"badge","id":"create-badge"}'
  recorded_at: Thu, 19 Nov 2015 15:41:08 GMT
- request:
    method: delete
    uri: https://gamification-api.dev/v1/badges/create-badge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"832626c4208c709a5021b4d6073d56af"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"https://gamification-api.dev/badge_images/create-badge/badge.png","collection_id":"library","created_at":"2015-11-19T15:40:52.393Z","updated_at":"2015-11-19T15:40:52.393Z","level":"silver","auto_issue":false,"status":"draft","required_badges":[],"points":50,"object":"badge","id":"create-badge"}'
  recorded_at: Thu, 19 Nov 2015 15:41:08 GMT
- request:
    method: delete
    uri: https://gamification-api.dev/v1/badges/required-badge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"389dd2b408111b119674762feb3a9f22"'
    body:
      encoding: UTF-8
      string: '{"name":"Required Badge","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"https://gamification-api.dev/badge_images/required-badge/badge.png","collection_id":"library","created_at":"2015-11-19T15:41:00.844Z","updated_at":"2015-11-19T15:41:00.844Z","level":"bronze","auto_issue":false,"status":"draft","required_badges":[],"points":25,"object":"badge","id":"required-badge"}'
  recorded_at: Thu, 19 Nov 2015 15:41:09 GMT
recorded_with: VCR 2.9.3
