---
http_interactions:
- request:
    method: get
    uri: https://gamification-api.dev/v1/badges?collection_id=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7cf5fee40381853757c784de33957938"'
    body:
      encoding: UTF-8
      string: '[{"name":"Marathon Man","description":"You have run 10 laps of the
        trips trail that is 47 kilometers","requirements":"Complete 10 laps of the
        trim trail over any time","hint":"Keep going...","image":"https://gamification-api.dev/badge_images/marathon-man/badge.png","collection_id":"trim-trail","created_at":"2015-11-18T11:40:20.303Z","updated_at":"2015-11-18T11:40:20.303Z","level":"gold","auto_issue":false,"status":"live","required_badges":[],"points":75,"object":"badge","id":"marathon-man"}]'
  recorded_at: Thu, 19 Nov 2015 15:24:04 GMT
recorded_with: VCR 2.9.3
