---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/book-worm/require
    body:
      encoding: UTF-8
      string: required_badge%5Bid%5D=mega-worm
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Unrecognized Request:
        (POST /v1/badges/book-worm/require)","status":404}}'
  recorded_at: Tue, 21 Jul 2015 10:01:29 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7375a72c89785842b9c3663fea03002d"'
    body:
      encoding: UTF-8
      string: '{"name":"Book Worm","description":"You have loaned out over 25 books.
        Nice going!","requirements":"Loan out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":"library","created_at":"2015-07-16T09:21:22.448Z","updated_at":"2015-07-16T09:21:22.448Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","required_badges":[],"points":25,"id":"book-worm"}'
  recorded_at: Tue, 21 Jul 2015 10:01:54 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/book-worm/requires
    body:
      encoding: UTF-8
      string: required_badge%5Bid%5D=mega-book-worm
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"The badge Book
        Worm cannot require Mega Book Worm as Mega Book Worm already requires Book
        Worm. Required badges can only be one-directional","status":422}}'
  recorded_at: Tue, 21 Jul 2015 10:46:45 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/book-worm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7375a72c89785842b9c3663fea03002d"'
    body:
      encoding: UTF-8
      string: '{"name":"Book Worm","description":"You have loaned out over 25 books.
        Nice going!","requirements":"Loan out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":"library","created_at":"2015-07-16T09:21:22.448Z","updated_at":"2015-07-16T09:21:22.448Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","required_badges":[],"points":25,"id":"book-worm"}'
  recorded_at: Tue, 21 Jul 2015 13:58:07 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/marathon-man/requires
    body:
      encoding: UTF-8
      string: required_badge%5Bid%5D=you-trim-trailed
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"be6ca7cc83054[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/marathon-man/requires?required_badge%5Bid%5D=you-trim-trailed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"73e1493d831e6091e84d6946d8a8f5bb"'
    body:
      encoding: UTF-8
      string: '{"name":"Marathon Man","description":"You have run 10 laps of the trips
        trail that is 47 kilometers","requirements":"Complete 10 laps of the trim
        trail over any time","hint":"Keep going...","image":"http://gamification-api.dev/uploads/badge/image/6/seed.png","collection_id":"trim-trail","created_at":"2015-07-16T09:21:22.836Z","updated_at":"2015-07-16T09:21:22.836Z","level":"gold","image_greyscale":"http://gamification-api.dev/uploads/badge/image/6/grey_seed.png","required_badges":[],"points":75,"id":"marathon-man"}'
  recorded_at: Tue, 21 Jul 2015 13:58:07 GMT
recorded_with: VCR 2.9.3
