---
http_interactions:
- request:
    method: post
    uri: https://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Blevel%5D=bronze&badge%5Bname%5D=Create+Badge+for+update&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e121f0e3e1d17e7538159d1a447af7a8"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge for update","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"https://gamification-api.dev/badge_images/create-badge-for-update/badge.png","collection_id":"library","created_at":"2015-11-19T15:41:33.658Z","updated_at":"2015-11-19T15:41:33.658Z","level":"bronze","auto_issue":false,"status":"draft","required_badges":[],"points":25,"object":"badge","id":"create-badge-for-update"}'
  recorded_at: Thu, 19 Nov 2015 15:41:41 GMT
- request:
    method: patch
    uri: https://gamification-api.dev/v1/badges/create-badge-for-update
    body:
      encoding: UTF-8
      string: badge%5Bdescription%5D=Updated+Description&badge%5Bhint%5D=Updated+Hint&badge%5Bname%5D=Updated+Badge&badge%5Brequirements%5D=Updated+Requirements&badge%5Bstatus%5D=live
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a615d7b0ae6696c7572a4f05146f86ed"'
    body:
      encoding: UTF-8
      string: '{"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"https://gamification-api.dev/badge_images/updated-badge/badge.png","collection_id":"library","created_at":"2015-11-19T15:41:33.658Z","updated_at":"2015-11-19T15:41:41.251Z","level":"bronze","auto_issue":false,"status":"live","required_badges":[],"points":25,"object":"badge","id":"updated-badge"}'
  recorded_at: Thu, 19 Nov 2015 15:41:48 GMT
- request:
    method: delete
    uri: https://gamification-api.dev/v1/badges/create-badge-for-update
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a615d7b0ae6696c7572a4f05146f86ed"'
    body:
      encoding: UTF-8
      string: '{"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"https://gamification-api.dev/badge_images/updated-badge/badge.png","collection_id":"library","created_at":"2015-11-19T15:41:33.658Z","updated_at":"2015-11-19T15:41:41.251Z","level":"bronze","auto_issue":false,"status":"live","required_badges":[],"points":25,"object":"badge","id":"updated-badge"}'
  recorded_at: Thu, 19 Nov 2015 15:41:48 GMT
recorded_with: VCR 2.9.3
