---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: 27","status":404}}'
  recorded_at: Thu, 30 Apr 2015 14:31:26 GMT
recorded_with: VCR 2.9.3
