---
http_interactions:
- request:
    method: get
    uri: https://gamification-api.dev/v1/badges/27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: 27","status":404}}'
  recorded_at: Thu, 19 Nov 2015 15:24:12 GMT
- request:
    method: get
    uri: https://gamification-api.dev/v1/badges/safasuf2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: safasuf2","status":404}}'
  recorded_at: Thu, 19 Nov 2015 15:41:09 GMT
recorded_with: VCR 2.9.3
