---
http_interactions:
- request:
    method: get
    uri: https://gamification-api.dev/v1/collections/27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: 27","status":404}}'
  recorded_at: Thu, 19 Nov 2015 14:33:00 GMT
[...]
- request:
    method: get
    uri: https://gamification-api.dev/v1/collections/2df3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: 2df3","status":404}}'
  recorded_at: Thu, 19 Nov 2015 14:33:33 GMT
- request:
    method: get
    uri: https://gamification-api.dev/v1/collections/dgsgdsg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: dgsgdsg","status":404}}'
  recorded_at: Thu, 19 Nov 2015 14:33:33 GMT
recorded_with: VCR 2.9.3
