---
http_interactions:
- request:
    method: post
    uri: https://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+Test
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"94419b3b1ecc7ed7a20a01f3df68e688"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-test","name":"Create Collection Test","description":"This
        is a new collection","created_at":"2015-11-19T14:33:33.223Z","updated_at":"2015-11-19T14:33:33.223Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 19 Nov 2015 14:33:33 GMT
- request:
    method: delete
    uri: https://gamification-api.dev/v1/collections/create-collection-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"94419b3b1ecc7ed7a20a01f3df68e688"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-test","name":"Create Collection Test","description":"This
        is a new collection","created_at":"2015-11-19T14:33:33.223Z","updated_at":"2015-11-19T14:33:33.223Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 19 Nov 2015 14:33:33 GMT
recorded_with: VCR 2.9.3
