---
http_interactions:
- request:
    method: post
    uri: https://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cf92ff0dc7c9e1987f493d35e5c89f8a"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-for-destroy","name":"Create Collection for
        Destroy","description":"This is a new badge","created_at":"2015-11-19T14:34:14.556Z","updated_at":"2015-11-19T14:34:14.556Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 19 Nov 2015 14:34:14 GMT
- request:
    method: delete
    uri: https://gamification-api.dev/v1/collections/create-collection-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cf92ff0dc7c9e1987f493d35e5c89f8a"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-for-destroy","name":"Create Collection for
        Destroy","description":"This is a new badge","created_at":"2015-11-19T14:34:14.556Z","updated_at":"2015-11-19T14:34:14.556Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 19 Nov 2015 14:34:14 GMT
- request:
    method: delete
    uri: https://gamification-api.dev/v1/collections/create-collection-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: create-collection-for-destroy","status":404}}'
  recorded_at: Thu, 19 Nov 2015 14:34:14 GMT
- request:
    method: delete
    uri: https://gamification-api.dev/v1/collections/create-collection-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: create-collection-for-destroy","status":404}}'
  recorded_at: Thu, 19 Nov 2015 14:34:14 GMT
recorded_with: VCR 2.9.3
