---
http_interactions:
- request:
    method: post
    uri: https://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ff02420ed9fa940733250b92c75ad7b1"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-for-update","name":"Create Collection for
        update","description":"This is a new collection","created_at":"2015-11-19T14:34:15.443Z","updated_at":"2015-11-19T14:34:15.443Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 19 Nov 2015 14:34:15 GMT
- request:
    method: patch
    uri: https://gamification-api.dev/v1/collections/create-collection-for-update
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Description&collection%5Bname%5D=Updated+Badge
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c0e5ffaf19546d014efb4149340fb0df"'
    body:
      encoding: UTF-8
      string: '{"id":"updated-badge","name":"Updated Badge","description":"Updated
        Description","created_at":"2015-11-19T14:34:15.443Z","updated_at":"2015-11-19T14:34:15.512Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 19 Nov 2015 14:34:15 GMT
- request:
    method: delete
    uri: https://gamification-api.dev/v1/collections/create-collection-for-update
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c0e5ffaf19546d014efb4149340fb0df"'
    body:
      encoding: UTF-8
      string: '{"id":"updated-badge","name":"Updated Badge","description":"Updated
        Description","created_at":"2015-11-19T14:34:15.443Z","updated_at":"2015-11-19T14:34:15.512Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 19 Nov 2015 14:34:15 GMT
recorded_with: VCR 2.9.3
