---
http_interactions:
- request:
    method: get
    uri: https://gamification-api.dev/v1/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f23681540ee7f0161e4275a9863ded74"'
    body:
      encoding: UTF-8
      string: '[{"id":"library","name":"Library","description":"Use your library and
        earn badges","created_at":"2015-11-18T11:39:58.859Z","updated_at":"2015-11-18T11:39:58.859Z","total_points_available":125,"badge_count":4,"object":"collection"},{"id":"trim-trail","name":"Trim
        Trail","description":"Get fit and health plus earn some badges","created_at":"2015-11-18T11:39:58.898Z","updated_at":"2015-11-18T11:39:58.898Z","total_points_available":75,"badge_count":1,"object":"collection"}]'
  recorded_at: Thu, 19 Nov 2015 14:32:06 GMT
recorded_with: VCR 2.9.3
