---
http_interactions:
- request:
    method: get
    uri: https://gamification-api.dev/v1/collections?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"af388ffdc2b2af6e9a65830b160d8586"'
    body:
      encoding: UTF-8
      string: '[{"id":"library","name":"Library","description":"Use your library and
        earn badges","created_at":"2015-11-18T11:39:58.859Z","updated_at":"2015-11-18T11:39:58.859Z","total_points_available":125,"badge_count":4,"object":"collection"}]'
  recorded_at: Thu, 19 Nov 2015 14:33:32 GMT
recorded_with: VCR 2.9.3
