---
http_interactions:
- request:
    method: post
    uri: https://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ca1b7ccf7436b3c6d336484ca64b7fd5"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-test-destroy","name":"Create Collection Test
        Destroy","description":"This is a new badge","created_at":"2015-11-19T14:33:33.368Z","updated_at":"2015-11-19T14:33:33.368Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 19 Nov 2015 14:33:33 GMT
- request:
    method: post
    uri: https://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":{"name":["has already
        been taken"]},"status":422}}'
  recorded_at: Thu, 19 Nov 2015 14:33:33 GMT
[...]
- request:
    method: delete
    uri: https://gamification-api.dev/v1/collections/create-collection-test-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ca1b7ccf7436b3c6d336484ca64b7fd5"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-test-destroy","name":"Create Collection Test
        Destroy","description":"This is a new badge","created_at":"2015-11-19T14:33:33.368Z","updated_at":"2015-11-19T14:33:33.368Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 19 Nov 2015 14:33:33 GMT
recorded_with: VCR 2.9.3
