---
http_interactions:
- request:
    method: post
    uri: https://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"58d49c25e806250dbde2763aa09eeb11"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-for-update","name":"Create Collection for
        update","description":"This is a new collection","created_at":"2015-11-19T14:34:15.156Z","updated_at":"2015-11-19T14:34:15.156Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 19 Nov 2015 14:34:15 GMT
- request:
    method: patch
    uri: https://gamification-api.dev/v1/collections/create-collection-for-update
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Collection&collection%5Bname%5D=Updated+Collection
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d1634d0a10e542e2303aaae3de11437a"'
    body:
      encoding: UTF-8
      string: '{"id":"updated-collection","name":"Updated Collection","description":"Updated
        Collection","created_at":"2015-11-19T14:34:15.156Z","updated_at":"2015-11-19T14:34:15.231Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 19 Nov 2015 14:34:15 GMT
[...]
- request:
    method: delete
    uri: https://gamification-api.dev/v1/collections/create-collection-for-update
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d1634d0a10e542e2303aaae3de11437a"'
    body:
      encoding: UTF-8
      string: '{"id":"updated-collection","name":"Updated Collection","description":"Updated
        Collection","created_at":"2015-11-19T14:34:15.156Z","updated_at":"2015-11-19T14:34:15.231Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 19 Nov 2015 14:34:15 GMT
recorded_with: VCR 2.9.3
