---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=http%3A%2F%2Fexample.org%2Fbadge.png&badge%5Bname%5D=Create+Badge+Test+Destroy&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/badges/31
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"93a6bbe02288987f31409d6f2fe07459"'
    body:
      encoding: UTF-8
      string: '{"id":31,"name":"Create Badge Test Destroy","description":"This is
        a new badge","requirements":"You need to love the Badge API","hint":"Love
        us..","image":"http://example.org/badge.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-03-30T10:22:50.891Z","updated_at":"2015-03-30T10:22:50.891Z"}'
  recorded_at: Mon, 30 Mar 2015 10:22:50 GMT
- request:
    method: post
    uri: http://gamification-api.dev/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=http%3A%2F%2Fexample.org%2Fbadge.png&badge%5Bname%5D=Create+Badge+Test+Destroy&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"name":["has already been taken"]}}'
  recorded_at: Mon, 30 Mar 2015 10:22:50 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/badges/31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":31,"name":"Create Badge Test Destroy","description":"This is
        a new badge","requirements":"You need to love the Badge API","hint":"Love
        us..","image":"http://example.org/badge.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-03-30T10:22:50.891Z","updated_at":"2015-03-30T10:22:50.891Z"}'
  recorded_at: Mon, 30 Mar 2015 10:22:50 GMT
recorded_with: VCR 2.9.3
