---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+Test
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/9
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"660a9a3cc1ba8e770dfc6eaf359a45cb"'
    body:
      encoding: UTF-8
      string: '{"id":9,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-03-30T20:44:39.493Z","updated_at":"2015-03-30T20:44:39.493Z"}'
  recorded_at: Mon, 30 Mar 2015 20:44:39 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":9,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-03-30T20:44:39.493Z","updated_at":"2015-03-30T20:44:39.493Z"}'
  recorded_at: Mon, 30 Mar 2015 20:44:39 GMT
recorded_with: VCR 2.9.3
