---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/collections/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":10,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-03-30T20:44:39.547Z","updated_at":"2015-03-30T20:44:39.547Z"}'
  recorded_at: Mon, 30 Mar 2015 20:44:39 GMT
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/14
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3dab0f7ad7a602f28c06eea0fb3cd3c8"'
    body:
      encoding: UTF-8
      string: '{"id":14,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-03-31T09:20:58.937Z","updated_at":"2015-03-31T09:20:58.937Z"}'
  recorded_at: Tue, 31 Mar 2015 09:20:58 GMT
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"name":["has already been taken"]}}'
  recorded_at: Tue, 31 Mar 2015 09:20:58 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/14
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":14,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-03-31T09:20:58.937Z","updated_at":"2015-03-31T09:20:58.937Z"}'
  recorded_at: Tue, 31 Mar 2015 09:20:58 GMT
recorded_with: VCR 2.9.3
