---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3c831d7f074db3c4171265674311002d"'
    body:
      encoding: UTF-8
      string: '{"id":5,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-04-16T13:54:33.020Z","updated_at":"2015-04-16T13:54:33.020Z"}'
  recorded_at: Thu, 16 Apr 2015 13:54:33 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9dffd12669fde108dbda2a923992ab9a"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-test-destroy","name":"Create Collection Test
        Destroy","description":"This is a new badge","created_at":"2015-04-30T13:42:23.748Z","updated_at":"2015-04-30T13:42:23.748Z"}'
  recorded_at: Thu, 30 Apr 2015 13:42:23 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":{"name":["has already
        been taken"]},"status":422}}'
  recorded_at: Thu, 30 Apr 2015 13:42:23 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/create-collection-test-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9dffd12669fde108dbda2a923992ab9a"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-test-destroy","name":"Create Collection Test
        Destroy","description":"This is a new badge","created_at":"2015-04-30T13:42:23.748Z","updated_at":"2015-04-30T13:42:23.748Z"}'
  recorded_at: Thu, 30 Apr 2015 13:42:23 GMT
recorded_with: VCR 2.9.3
