---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"873f726fbada5c7a9ff0f173a66251d8"'
    body:
      encoding: UTF-8
      string: '{"id":20,"name":"Create Badge Test","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/uploads/badge/image/20/badge_e20904ac5e0489be9258.png","collection_id":1,"created_at":"2015-04-16T14:18:36.834Z","updated_at":"2015-04-16T14:18:36.834Z"}'
  recorded_at: Thu, 16 Apr 2015 14:18:36 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"02a0db6d2d5613771f019a815783d908"'
    body:
      encoding: UTF-8
      string: '{"id":9,"name":"Create Badge Test","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/uploads/badge/image/9/badge_c9c03d231be67291b110.png","collection_id":1,"created_at":"2015-04-27T09:28:35.091Z","updated_at":"2015-04-27T09:28:35.091Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/9/grey_badge_c9c03d231be67291b110.png"}'
  recorded_at: Mon, 27 Apr 2015 09:28:35 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAMAAABFaP0WAAAAGXRFWHRTb2Z0%0Ad2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9i%0AZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2Vo%0AaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6%0AbnM6bWV0[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f5b283cf18f9b013931ad58f62b58fd4"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge Test","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/uploads/badge/image/158/badge_c6f2ef925472177a9dd0.png","collection_id":"library","created_at":"2015-04-30T14:31:26.377Z","updated_at":"2015-04-30T14:31:26.377Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/158/grey_badge_c6f2ef925472177a9dd0.png","id":"create-badge-test"}'
  recorded_at: Thu, 30 Apr 2015 14:31:26 GMT
recorded_with: VCR 2.9.3
