---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=http%3A%2F%2Fexample.org%2Fbadge.png&badge%5Bname%5D=Create+Badge+Test+Destroy&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/badges/25
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e6f59c8ca39d93b69134ba8462dd046e"'
    body:
      encoding: UTF-8
      string: '{"id":25,"name":"Create Badge Test Destroy","description":"This is
        a new badge","requirements":"You need to love the Badge API","hint":"Love
        us..","image":"http://example.org/badge.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-03-31T14:28:12.985Z","updated_at":"2015-03-31T14:28:12.985Z"}'
  recorded_at: Tue, 31 Mar 2015 14:28:12 GMT
- request:
    method: post
    uri: http://gamification-api.dev/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=http%3A%2F%2Fexample.org%2Fbadge.png&badge%5Bname%5D=Create+Badge+Test+Destroy&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"name":["has already been taken"]}}'
  recorded_at: Tue, 31 Mar 2015 14:28:13 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/badges/25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":25,"name":"Create Badge Test Destroy","description":"This is
        a new badge","requirements":"You need to love the Badge API","hint":"Love
        us..","image":"http://example.org/badge.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-03-31T14:28:12.985Z","updated_at":"2015-03-31T14:28:12.985Z"}'
  recorded_at: Tue, 31 Mar 2015 14:28:13 GMT
recorded_with: VCR 2.9.3
