---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+Test
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c6d887cec020f8b9c5e10eb3aae5fba7"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-test","name":"Create Collection Test","description":"This
        is a new collection","created_at":"2015-07-16T10:41:00.285Z","updated_at":"2015-07-16T10:41:00.285Z"}'
  recorded_at: Thu, 16 Jul 2015 10:41:00 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/create-collection-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c6d887cec020f8b9c5e10eb3aae5fba7"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-test","name":"Create Collection Test","description":"This
        is a new collection","created_at":"2015-07-16T10:41:00.285Z","updated_at":"2015-07-16T10:41:00.285Z"}'
  recorded_at: Thu, 16 Jul 2015 10:41:00 GMT
recorded_with: VCR 2.9.3
