---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+Test
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/23
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7c64b86287646ed8a5961410c4258b59"'
    body:
      encoding: UTF-8
      string: '{"id":23,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-03-30T10:22:45.268Z","updated_at":"2015-03-30T10:22:45.268Z"}'
  recorded_at: Mon, 30 Mar 2015 10:22:45 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":23,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-03-30T10:22:45.268Z","updated_at":"2015-03-30T10:22:45.268Z"}'
  recorded_at: Mon, 30 Mar 2015 10:22:45 GMT
recorded_with: VCR 2.9.3
