---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"78cdc71cf73bee2f83e004154c47df38"'
    body:
      encoding: UTF-8
      string: '{"id":4,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-04-16T13:54:32.953Z","updated_at":"2015-04-16T13:54:32.953Z"}'
  recorded_at: Thu, 16 Apr 2015 13:54:32 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+Test
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2bdc54485a74a04b5db5f3ac9b1724bb"'
    body:
      encoding: UTF-8
      string: '{"id":16,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-04-16T14:26:21.810Z","updated_at":"2015-04-16T14:26:21.810Z"}'
  recorded_at: Thu, 16 Apr 2015 14:26:21 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2bdc54485a74a04b5db5f3ac9b1724bb"'
    body:
      encoding: UTF-8
      string: '{"id":16,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-04-16T14:26:21.810Z","updated_at":"2015-04-16T14:26:21.810Z"}'
  recorded_at: Thu, 16 Apr 2015 14:26:21 GMT
recorded_with: VCR 2.9.3
