---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/49
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":49,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-04-01T10:23:00.514Z","updated_at":"2015-04-01T10:23:00.514Z"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+Test
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a7ad4785595ae898246975e456b6540a"'
    body:
      encoding: UTF-8
      string: '{"id":61,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-04-01T10:24:58.874Z","updated_at":"2015-04-01T10:24:58.874Z"}'
  recorded_at: Wed, 01 Apr 2015 10:24:58 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/61
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":61,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-04-01T10:24:58.874Z","updated_at":"2015-04-01T10:24:58.874Z"}'
  recorded_at: Wed, 01 Apr 2015 10:24:58 GMT
recorded_with: VCR 2.9.3
