---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"91970a3cf5442d10ee19b44c8a855a07"'
    body:
      encoding: UTF-8
      string: '{"id":9,"name":"Create Badge Test","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/uploads/badge/image/9/badge_80e0a20701cf3962fd29.png","collection_id":1,"created_at":"2015-04-16T14:04:17.580Z","updated_at":"2015-04-16T14:04:17.580Z"}'
  recorded_at: Thu, 16 Apr 2015 14:04:17 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAMAAABFaP0WAAAAGXRFWHRTb2Z0%0Ad2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9i%0AZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2Vo%0AaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6%0AbnM6bWV0[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b6dbb172f419a5aeb579165d9cc5d9e5"'
    body:
      encoding: UTF-8
      string: '{"id":45,"name":"Create Badge Test","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/uploads/badge/image/45/badge_f486eea0ff003aeabb72.png","collection_id":1,"created_at":"2015-04-16T14:26:04.481Z","updated_at":"2015-04-16T14:26:04.481Z"}'
  recorded_at: Thu, 16 Apr 2015 14:26:04 GMT
recorded_with: VCR 2.9.3
