---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":50,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-04-01T10:23:00.577Z","updated_at":"2015-04-01T10:23:00.577Z"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ebee102c5d79dcded3598d27aa087a1e"'
    body:
      encoding: UTF-8
      string: '{"id":62,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-04-01T10:24:58.937Z","updated_at":"2015-04-01T10:24:58.937Z"}'
  recorded_at: Wed, 01 Apr 2015 10:24:58 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"name":["has already been taken"]}}'
  recorded_at: Wed, 01 Apr 2015 10:24:58 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/62
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":62,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-04-01T10:24:58.937Z","updated_at":"2015-04-01T10:24:58.937Z"}'
  recorded_at: Wed, 01 Apr 2015 10:24:58 GMT
recorded_with: VCR 2.9.3
