---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/49
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":49,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-04-01T10:23:00.514Z","updated_at":"2015-04-01T10:23:00.514Z"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/75
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"81c4e0bf642bde1ce7d90ed20c66e73e"'
    body:
      encoding: UTF-8
      string: '{"id":75,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-04-09T13:06:29.631Z","updated_at":"2015-04-09T13:06:29.631Z"}'
  recorded_at: Thu, 09 Apr 2015 13:06:29 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+Test
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"403d5405e1f6731e40c113d00c7ee257"'
    body:
      encoding: UTF-8
      string: '{"id":112,"name":"Create Collection Test","description":"This is a
        new collection","created_at":"2015-04-09T13:34:54.102Z","updated_at":"2015-04-09T13:34:54.102Z"}'
  recorded_at: Thu, 09 Apr 2015 13:34:54 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/112
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"403d5405e1f6731e40c113d00c7ee257"'
    body:
      encoding: UTF-8
      string: '{"id":112,"name":"Create Collection Test","description":"This is a
        new collection","created_at":"2015-04-09T13:34:54.102Z","updated_at":"2015-04-09T13:34:54.102Z"}'
  recorded_at: Thu, 09 Apr 2015 13:34:54 GMT
recorded_with: VCR 2.9.3
