---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/collections/22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":22,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-03-31T10:12:51.274Z","updated_at":"2015-03-31T10:12:51.274Z"}'
  recorded_at: Tue, 31 Mar 2015 10:12:51 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/57
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"497039217419e0614d459fb5abd8be19"'
    body:
      encoding: UTF-8
      string: '{"id":57,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-03-31T13:43:38.739Z","updated_at":"2015-03-31T13:43:38.739Z"}'
  recorded_at: Tue, 31 Mar 2015 13:43:38 GMT
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"name":["has already been taken"]}}'
  recorded_at: Tue, 31 Mar 2015 13:43:38 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/57
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":57,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-03-31T13:43:38.739Z","updated_at":"2015-03-31T13:43:38.739Z"}'
  recorded_at: Tue, 31 Mar 2015 13:43:38 GMT
recorded_with: VCR 2.9.3
