---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Blevel%5D=bronze&badge%5Bname%5D=Create+Badge+Test&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"60b6935b0007f7a453783c4055f0a234"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge Test","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/badge_images/create-badge-test/badge.png","collection_id":"library","created_at":"2015-07-24T15:35:36.622Z","updated_at":"2015-07-24T15:35:36.622Z","level":"bronze","required_badges":[],"points":25,"id":"create-badge-test"}'
  recorded_at: Fri, 24 Jul 2015 15:35:36 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"60b6935b0007f7a453783c4055f0a234"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge Test","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/badge_images/create-badge-test/badge.png","collection_id":"library","created_at":"2015-07-24T15:35:36.622Z","updated_at":"2015-07-24T15:35:36.622Z","level":"bronze","required_badges":[],"points":25,"id":"create-badge-test"}'
  recorded_at: Fri, 24 Jul 2015 15:35:36 GMT
recorded_with: VCR 2.9.3
