---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+Test
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d42ad68980100785f33052d204514e54"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-test","name":"Create Collection Test","description":"This
        is a new collection","created_at":"2015-08-27T08:26:07.162Z","updated_at":"2015-08-27T08:26:07.162Z","total_points_available":0,"object":"collection"}'
  recorded_at: Thu, 27 Aug 2015 08:26:07 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/create-collection-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d42ad68980100785f33052d204514e54"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-test","name":"Create Collection Test","description":"This
        is a new collection","created_at":"2015-08-27T08:26:07.162Z","updated_at":"2015-08-27T08:26:07.162Z","total_points_available":0,"object":"collection"}'
  recorded_at: Thu, 27 Aug 2015 08:26:07 GMT
recorded_with: VCR 2.9.3
