---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+Test
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/20
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a13898e9270d32cbb30d695af89f9412"'
    body:
      encoding: UTF-8
      string: '{"id":20,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-03-31T14:28:15.958Z","updated_at":"2015-03-31T14:28:15.958Z"}'
  recorded_at: Tue, 31 Mar 2015 14:28:15 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":20,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-03-31T14:28:15.958Z","updated_at":"2015-03-31T14:28:15.958Z"}'
  recorded_at: Tue, 31 Mar 2015 14:28:15 GMT
recorded_with: VCR 2.9.3
