---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/collections/21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":21,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-03-31T10:12:51.206Z","updated_at":"2015-03-31T10:12:51.206Z"}'
  recorded_at: Tue, 31 Mar 2015 10:12:51 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+Test
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/33
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"382390283a9ee61c4293b22ce15ae9d7"'
    body:
      encoding: UTF-8
      string: '{"id":33,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-03-31T10:47:39.953Z","updated_at":"2015-03-31T10:47:39.953Z"}'
  recorded_at: Tue, 31 Mar 2015 10:47:39 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/33
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":33,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-03-31T10:47:39.953Z","updated_at":"2015-03-31T10:47:39.953Z"}'
  recorded_at: Tue, 31 Mar 2015 10:47:39 GMT
recorded_with: VCR 2.9.3
