---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cde5c075cb4c0261534c9ed8ba8831eb"'
    body:
      encoding: UTF-8
      string: '{"id":29,"name":"Create Badge Test Destroy","description":"This is
        a new badge","requirements":"You need to love the Badge API","hint":"Love
        us..","image":"http://gamification-api.dev/uploads/badge/image/29/badge_417ef0d521d4875c4a6f.png","collection_id":1,"created_at":"2015-04-16T14:23:16.261Z","updated_at":"2015-04-16T14:23:16.261Z"}'
  recorded_at: Thu, 16 Apr 2015 14:23:16 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9ad5e0a206ab06772f2d4be969151a41"'
    body:
      encoding: UTF-8
      string: '{"id":10,"name":"Create Badge Test Destroy","description":"This is
        a new badge","requirements":"You need to love the Badge API","hint":"Love
        us..","image":"http://gamification-api.dev/uploads/badge/image/10/badge_56aad4c54c53ef59e991.png","collection_id":1,"created_at":"2015-04-27T09:28:35.226Z","updated_at":"2015-04-27T09:28:35.226Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/10/grey_badge_56aad4c54c53ef59e991.png"}'
  recorded_at: Mon, 27 Apr 2015 09:28:35 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAMAAABFaP0WAAAAGXRFWHRTb2Z0%0Ad2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9i%0AZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2Vo%0AaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6%0AbnM6bWV0[...]
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-test-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a5dfc6875a5f163ba443bd954ae58797"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge Test Destroy","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/uploads/badge/image/159/badge_18a1be887d319e3cb9c5.png","collection_id":"library","created_at":"2015-04-30T14:31:26.530Z","updated_at":"2015-04-30T14:31:26.530Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/159/grey_badge_18a1be887d319e3cb9c5.png","id":"create-badge-test-destroy"}'
  recorded_at: Thu, 30 Apr 2015 14:31:26 GMT
recorded_with: VCR 2.9.3
