---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/collections/31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":31,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-04-01T09:07:42.598Z","updated_at":"2015-04-01T09:07:42.598Z"}'
  recorded_at: Wed, 01 Apr 2015 09:07:42 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+Test
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/43
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b03f011317fb166ad2e2ce2deb1c2d85"'
    body:
      encoding: UTF-8
      string: '{"id":43,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-04-01T09:16:28.697Z","updated_at":"2015-04-01T09:16:28.697Z"}'
  recorded_at: Wed, 01 Apr 2015 09:16:28 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/43
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":43,"name":"Create Collection Test","description":"This is a new
        collection","created_at":"2015-04-01T09:16:28.697Z","updated_at":"2015-04-01T09:16:28.697Z"}'
  recorded_at: Wed, 01 Apr 2015 09:16:28 GMT
recorded_with: VCR 2.9.3
