---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/collections/32
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":32,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-04-01T09:07:42.665Z","updated_at":"2015-04-01T09:07:42.665Z"}'
  recorded_at: Wed, 01 Apr 2015 09:07:42 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/44
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9d759f74019c34abdab42dfa653fd1e7"'
    body:
      encoding: UTF-8
      string: '{"id":44,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-04-01T09:16:28.755Z","updated_at":"2015-04-01T09:16:28.755Z"}'
  recorded_at: Wed, 01 Apr 2015 09:16:28 GMT
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"name":["has already been taken"]}}'
  recorded_at: Wed, 01 Apr 2015 09:16:28 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/44
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":44,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-04-01T09:16:28.755Z","updated_at":"2015-04-01T09:16:28.755Z"}'
  recorded_at: Wed, 01 Apr 2015 09:16:28 GMT
recorded_with: VCR 2.9.3
