---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/24
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d882aa45499c561de38fa2a3471a5fde"'
    body:
      encoding: UTF-8
      string: '{"id":24,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-03-30T10:22:45.324Z","updated_at":"2015-03-30T10:22:45.324Z"}'
  recorded_at: Mon, 30 Mar 2015 10:22:45 GMT
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"name":["has already been taken"]}}'
  recorded_at: Mon, 30 Mar 2015 10:22:45 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":24,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-03-30T10:22:45.324Z","updated_at":"2015-03-30T10:22:45.324Z"}'
  recorded_at: Mon, 30 Mar 2015 10:22:45 GMT
recorded_with: VCR 2.9.3
