---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Blevel%5D=bronze&badge%5Bname%5D=Create+Badge+Test+Destroy&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8157fb2e21cb3f6062b9d397f92e559f"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge Test Destroy","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/badge_images/create-badge-test-destroy/badge.png","collection_id":"library","created_at":"2015-07-27T16:12:06.033Z","updated_at":"2015-07-27T16:12:06.033Z","level":"bronze","auto_issue":false,"required_badges":[],"points":25,"object":"badge","id":"create-badge-test-destroy"}'
  recorded_at: Mon, 27 Jul 2015 16:12:06 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Blevel%5D=bronze&badge%5Bname%5D=Create+Badge+Test+Destroy&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":{"name":["has already
        been taken"]},"status":422}}'
  recorded_at: Mon, 27 Jul 2015 16:12:06 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-test-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8157fb2e21cb3f6062b9d397f92e559f"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge Test Destroy","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/badge_images/create-badge-test-destroy/badge.png","collection_id":"library","created_at":"2015-07-27T16:12:06.033Z","updated_at":"2015-07-27T16:12:06.033Z","level":"bronze","auto_issue":false,"required_badges":[],"points":25,"object":"badge","id":"create-badge-test-destroy"}'
  recorded_at: Mon, 27 Jul 2015 16:12:06 GMT
recorded_with: VCR 2.9.3
