---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1//badges/73
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":73,"name":"Create Badge Test","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://example.org/badge.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-04-01T10:22:50.296Z","updated_at":"2015-04-01T10:22:50.296Z"}'
  recorded_at: Wed, 01 Apr 2015 10:22:50 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=http%3A%2F%2Fexample.org%2Fbadge.png&badge%5Bname%5D=Create+Badge+Test&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c07500a33ba9f340783a2c0bc0d2b174"'
    body:
      encoding: UTF-8
      string: '{"id":85,"name":"Create Badge Test","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://example.org/badge.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-04-01T10:25:02.186Z","updated_at":"2015-04-01T10:25:02.186Z"}'
  recorded_at: Wed, 01 Apr 2015 10:25:02 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1//badges/85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":85,"name":"Create Badge Test","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://example.org/badge.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-04-01T10:25:02.186Z","updated_at":"2015-04-01T10:25:02.186Z"}'
  recorded_at: Wed, 01 Apr 2015 10:25:02 GMT
recorded_with: VCR 2.9.3
