---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/26
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c78a7fac6dc156ce942c375e1b14281e"'
    body:
      encoding: UTF-8
      string: '{"id":26,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-03-31T15:01:55.681Z","updated_at":"2015-03-31T15:01:55.681Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:55 GMT
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+Test+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"name":["has already been taken"]}}'
  recorded_at: Tue, 31 Mar 2015 15:01:55 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/26
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":26,"name":"Create Collection Test Destroy","description":"This
        is a new badge","created_at":"2015-03-31T15:01:55.681Z","updated_at":"2015-03-31T15:01:55.681Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:55 GMT
recorded_with: VCR 2.9.3
