---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/8
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bf8dc8eae07a544029f895402db6d482"'
    body:
      encoding: UTF-8
      string: '{"id":8,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-03-30T20:44:39.383Z","updated_at":"2015-03-30T20:44:39.383Z"}'
  recorded_at: Mon, 30 Mar 2015 20:44:39 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":8,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-03-30T20:44:39.383Z","updated_at":"2015-03-30T20:44:39.383Z"}'
  recorded_at: Mon, 30 Mar 2015 20:44:39 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Mon, 30 Mar 2015 20:44:39 GMT
recorded_with: VCR 2.9.3
