---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/create-badge-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5c6438cacbae5b4e79dcbf9cb245feca"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge for Destroy","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/badge_images/create-badge-for-destroy/badge.png","collection_id":"library","created_at":"2015-08-26T13:33:29.985Z","updated_at":"2015-08-26T13:33:30.103Z","level":"bronze","auto_issue":false,"status":"deleted","required_badges":[],"points":25,"object":"badge","id":"create-badge-for-destroy"}'
  recorded_at: Wed, 26 Aug 2015 13:33:30 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-for-destroy-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1fcd9ea83424440c49e580463e934382"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge for Destroy Test","description":"This is a new
        badge","requirements":"You need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/badge_images/create-badge-for-destroy-test/badge.png","collection_id":"library","created_at":"2015-08-27T08:26:21.600Z","updated_at":"2015-08-27T08:26:21.600Z","level":"bronze","auto_issue":false,"status":"draft","required_badges":[],"points":25,"object":"badge","id":"create-badge-for-destroy-test"}'
  recorded_at: Thu, 27 Aug 2015 08:26:21 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/create-badge-for-destroy-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: create-badge-for-destroy-test","status":404}}'
  recorded_at: Thu, 27 Aug 2015 08:26:21 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Blevel%5D=bronze&badge%5Bname%5D=Create+Badge+for+Destroy&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f677c1a72db7b4a618661da0556a6c9b"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge for Destroy","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/badge_images/create-badge-for-destroy/badge.png","collection_id":"library","created_at":"2015-09-03T10:55:55.545Z","updated_at":"2015-09-03T10:55:55.545Z","level":"bronze","auto_issue":false,"status":"draft","required_badges":[],"points":25,"object":"badge","id":"create-badge-for-destroy"}'
  recorded_at: Thu, 03 Sep 2015 10:55:55 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: create-badge-for-destroy","status":404}}'
  recorded_at: Thu, 03 Sep 2015 10:55:55 GMT
recorded_with: VCR 2.9.3
