---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/collections/7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":7,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-03-30T20:44:39.314Z","updated_at":"2015-03-30T20:44:39.314Z"}'
  recorded_at: Mon, 30 Mar 2015 20:44:39 GMT
- request:
    method: get
    uri: http://gamification-api.dev/collections/7.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Mon, 30 Mar 2015 20:44:39 GMT
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy&collection%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/11
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7f15620bdf5f4146903566cd755b25a4"'
    body:
      encoding: UTF-8
      string: '{"id":11,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-03-31T09:20:58.642Z","updated_at":"2015-03-31T09:20:58.642Z"}'
  recorded_at: Tue, 31 Mar 2015 09:20:58 GMT
[...]
- request:
    method: get
    uri: http://gamification-api.dev/collections/11.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Tue, 31 Mar 2015 09:20:58 GMT
recorded_with: VCR 2.9.3
