---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/47
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":47,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-01T10:23:00.327Z","updated_at":"2015-04-01T10:23:00.327Z"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1//collections/47
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy&collection%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7c7c49f7662530514fcf8d994b64c5e8"'
    body:
      encoding: UTF-8
      string: '{"id":59,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-01T10:24:58.668Z","updated_at":"2015-04-01T10:24:58.668Z"}'
  recorded_at: Wed, 01 Apr 2015 10:24:58 GMT
[...]
- request:
    method: get
    uri: http://gamification-api.dev/v1//collections/59
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Wed, 01 Apr 2015 10:24:58 GMT
recorded_with: VCR 2.9.3
