---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAMAAABFaP0WAAAAGXRFWHRTb2Z0%0Ad2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9i%0AZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2Vo%0AaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6%0AbnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5%0ALjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpS%0ARE[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d14404956bff57d06507fd36086ad44c"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge for Destroy","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/uploads/badge/image/53/badge_08f7c76a2235cdebef88.png","collection_id":"library","created_at":"2015-07-21T12:42:24.504Z","updated_at":"2015-07-21T12:42:24.504Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/53/grey_badge_08f7c76a2235cdebef88.png","required_badges":[],"points":25,"id":"create-badge-for-destroy"}'
  recorded_at: Tue, 21 Jul 2015 12:42:24 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/create-badge-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: create-badge-for-destroy","status":404}}'
  recorded_at: Tue, 21 Jul 2015 12:42:24 GMT
recorded_with: VCR 2.9.3
