---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1//badges/72
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":72,"name":"Create Badge for Destroy","description":"This is a
        new badge","requirements":"You need to love the Badge API","hint":"Love us..","image":"http://example.org/badge.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-04-01T10:22:50.188Z","updated_at":"2015-04-01T10:22:50.188Z"}'
  recorded_at: Wed, 01 Apr 2015 10:22:50 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1//badges/72
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Wed, 01 Apr 2015 10:22:50 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//badges/26
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: 26","status":404}}'
  recorded_at: Wed, 08 Apr 2015 15:48:25 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//badges/59
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\"
        />\n  <title>Action Controller: Exception caught</title>\n  <style>\n    body
        {\n      background-color: #FAFAFA;\n      color: #333;\n      margin: 0px;\n
        \   }\n\n    body, p, ol, ul, td {\n      font-family: helvetica, verdana,
        arial, sans-serif;\n      font-size:   13px;\n      line-height: 18px;\n    }\n\n
        \   pre {\n      font-size: 11px;\n      white-space: pre-wrap;\n    }\n\n
        \   pre.box {\n      border: 1px solid #EEE;\n      padding: 10px;\n      margin:
        0px;\n      width: 958px;\n    }\n\n    header {\[...]
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//badges/70
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bcfad41a6da3f0b888b38aa7e70d550b"'
    body:
      encoding: UTF-8
      string: '{"id":70,"name":"Create Badge for Destroy","description":"This is a
        new badge","requirements":"You need to love the Badge API","hint":"Love us..","image":"http://example.org/badge.png","collection_id":1,"created_at":"2015-04-09T10:18:35.210Z","updated_at":"2015-04-09T10:18:35.210Z"}'
  recorded_at: Thu, 09 Apr 2015 10:18:35 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=http%3A%2F%2Fexample.org%2Fbadge.png&badge%5Bname%5D=Create+Badge+for+Destroy&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c6b939002dd9f0d355e73b15efd8ff28"'
    body:
      encoding: UTF-8
      string: '{"id":212,"name":"Create Badge for Destroy","description":"This is
        a new badge","requirements":"You need to love the Badge API","hint":"Love
        us..","image":"http://example.org/badge.png","collection_id":1,"created_at":"2015-04-09T13:29:45.057Z","updated_at":"2015-04-09T13:29:45.057Z"}'
  recorded_at: Thu, 09 Apr 2015 13:29:45 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//badges/212
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: 212","status":404}}'
  recorded_at: Thu, 09 Apr 2015 13:29:45 GMT
recorded_with: VCR 2.9.3
