---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ad26e7ff9abeb5428c690900a0baa051"'
    body:
      encoding: UTF-8
      string: '{"id":8,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-16T13:55:03.943Z","updated_at":"2015-04-16T13:55:03.943Z"}'
  recorded_at: Thu, 16 Apr 2015 13:55:03 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections/8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: 8","status":404}}'
  recorded_at: Thu, 16 Apr 2015 13:55:04 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7d3ea64c642fe1f744f345c7c1b72832"'
    body:
      encoding: UTF-8
      string: '{"id":3,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-27T09:28:16.668Z","updated_at":"2015-04-27T09:28:16.668Z"}'
  recorded_at: Mon, 27 Apr 2015 09:28:16 GMT
[...]
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: 3","status":404}}'
  recorded_at: Mon, 27 Apr 2015 09:28:16 GMT
recorded_with: VCR 2.9.3
