---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy&collection%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/18
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"666e49314b647de81e43582e4e7b384e"'
    body:
      encoding: UTF-8
      string: '{"id":18,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-03-31T14:28:15.774Z","updated_at":"2015-03-31T14:28:15.774Z"}'
  recorded_at: Tue, 31 Mar 2015 14:28:15 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":18,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-03-31T14:28:15.774Z","updated_at":"2015-03-31T14:28:15.774Z"}'
  recorded_at: Tue, 31 Mar 2015 14:28:15 GMT
- request:
    method: get
    uri: http://gamification-api.dev/collections/18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Tue, 31 Mar 2015 14:28:15 GMT
recorded_with: VCR 2.9.3
