---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/collections/29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":29,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-01T09:07:42.382Z","updated_at":"2015-04-01T09:07:42.382Z"}'
  recorded_at: Wed, 01 Apr 2015 09:07:42 GMT
- request:
    method: get
    uri: http://gamification-api.dev/collections/29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Wed, 01 Apr 2015 09:07:42 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy&collection%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/41
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f28d11be276783899f3ed41a7a0ca487"'
    body:
      encoding: UTF-8
      string: '{"id":41,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-01T09:16:28.493Z","updated_at":"2015-04-01T09:16:28.493Z"}'
  recorded_at: Wed, 01 Apr 2015 09:16:28 GMT
[...]
- request:
    method: get
    uri: http://gamification-api.dev/collections/41
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Wed, 01 Apr 2015 09:16:28 GMT
recorded_with: VCR 2.9.3
