---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7e0ba13803dd7ff2cc51c65fb6f319a3"'
    body:
      encoding: UTF-8
      string: '{"id":18,"name":"Create Badge for Destroy","description":"This is a
        new badge","requirements":"You need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/uploads/badge/image/18/badge_a6e21c2480926a0c116e.png","collection_id":1,"created_at":"2015-04-16T14:18:36.533Z","updated_at":"2015-04-16T14:18:36.533Z"}'
  recorded_at: Thu, 16 Apr 2015 14:18:36 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: 18","status":404}}'
  recorded_at: Thu, 16 Apr 2015 14:18:36 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8d340c760e55ef49384e4e0a1f0d4bfe"'
    body:
      encoding: UTF-8
      string: '{"id":7,"name":"Create Badge for Destroy","description":"This is a
        new badge","requirements":"You need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/uploads/badge/image/7/badge_137c4db55111ced3c0ad.png","collection_id":1,"created_at":"2015-04-27T09:28:34.761Z","updated_at":"2015-04-27T09:28:34.761Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/7/grey_badge_137c4db55111ced3c0ad.png"}'
  recorded_at: Mon, 27 Apr 2015 09:28:34 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAMAAABFaP0WAAAAGXRFWHRTb2Z0%0Ad2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9i%0AZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2Vo%0AaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6%0AbnM6bWV0[...]
[...]
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/77
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: 77","status":404}}'
  recorded_at: Mon, 27 Apr 2015 13:02:26 GMT
recorded_with: VCR 2.9.3
