---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-for-destroy-error
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"053561c84fda77a31f0659418c46c131"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge for Destroy Error","description":"This is a new
        badge","requirements":"You need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/badge_images/create-badge-for-destroy-error/badge.png","collection_id":"library","created_at":"2015-08-27T08:26:21.818Z","updated_at":"2015-08-27T08:26:21.818Z","level":"bronze","auto_issue":false,"status":"draft","required_badges":[],"points":25,"object":"badge","id":"create-badge-for-destroy-error"}'
  recorded_at: Thu, 27 Aug 2015 08:26:21 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-for-destroy-error
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: create-badge-for-destroy-error","status":404}}'
  recorded_at: Thu, 27 Aug 2015 08:26:21 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Blevel%5D=bronze&badge%5Bname%5D=Create+Badge+for+Destroy&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"457cfda92e98fcd284202db381ebdecd"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge for Destroy","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/badge_images/create-badge-for-destroy/badge.png","collection_id":"library","created_at":"2015-08-27T15:29:33.366Z","updated_at":"2015-08-27T15:29:33.366Z","level":"bronze","auto_issue":false,"status":"draft","required_badges":[],"points":25,"object":"badge","id":"create-badge-for-destroy"}'
  recorded_at: Thu, 27 Aug 2015 15:29:33 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"457cfda92e98fcd284202db381ebdecd"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge for Destroy","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/badge_images/create-badge-for-destroy/badge.png","collection_id":"library","created_at":"2015-08-27T15:29:33.366Z","updated_at":"2015-08-27T15:29:33.366Z","level":"bronze","auto_issue":false,"status":"draft","required_badges":[],"points":25,"object":"badge","id":"create-badge-for-destroy"}'
  recorded_at: Thu, 27 Aug 2015 15:29:33 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: create-badge-for-destroy","status":404}}'
  recorded_at: Thu, 27 Aug 2015 15:29:33 GMT
recorded_with: VCR 2.9.3
