---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/badges/45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":45,"name":"Create Badge for Destroy","description":"This is a
        new badge","requirements":"You need to love the Badge API","hint":"Love us..","image":"http://example.org/badge.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-03-30T20:38:10.824Z","updated_at":"2015-03-30T20:38:10.824Z"}'
  recorded_at: Mon, 30 Mar 2015 20:38:10 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/badges/45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Mon, 30 Mar 2015 20:38:10 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=http%3A%2F%2Fexample.org%2Fbadge.png&badge%5Bname%5D=Create+Badge+for+Destroy&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/badges/54
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fb7e92516cb534646f58551ec281ea0f"'
    body:
      encoding: UTF-8
      string: '{"id":54,"name":"Create Badge for Destroy","description":"This is a
        new badge","requirements":"You need to love the Badge API","hint":"Love us..","image":"http://example.org/badge.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-03-30T20:44:23.869Z","updated_at":"2015-03-30T20:44:23.869Z"}'
  recorded_at: Mon, 30 Mar 2015 20:44:23 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/badges/54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Mon, 30 Mar 2015 20:44:23 GMT
recorded_with: VCR 2.9.3
