---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fc74c7a17abcdc3e486c80504e235141"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-for-destroy","name":"Create Collection for
        Destroy","description":"This is a new badge","created_at":"2015-09-03T10:59:40.840Z","updated_at":"2015-09-03T10:59:40.840Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 03 Sep 2015 10:59:40 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/create-collection-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fc74c7a17abcdc3e486c80504e235141"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-for-destroy","name":"Create Collection for
        Destroy","description":"This is a new badge","created_at":"2015-09-03T10:59:40.840Z","updated_at":"2015-09-03T10:59:40.840Z","total_points_available":0,"badge_count":0,"object":"collection"}'
  recorded_at: Thu, 03 Sep 2015 10:59:40 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections/create-collection-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: create-collection-for-destroy","status":404}}'
  recorded_at: Thu, 03 Sep 2015 10:59:40 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections/create-collection-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: create-collection-for-destroy","status":404}}'
  recorded_at: Thu, 03 Sep 2015 10:59:40 GMT
recorded_with: VCR 2.9.3
