---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Blevel%5D=bronze&badge%5Bname%5D=Create+Badge+for+Destroy&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"63e409eb88a7fa8b9817a6c5939f44a3"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge for Destroy","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/badge_images/create-badge-for-destroy/badge.png","collection_id":"library","created_at":"2015-07-24T15:35:35.969Z","updated_at":"2015-07-24T15:35:35.969Z","level":"bronze","required_badges":[],"points":25,"id":"create-badge-for-destroy"}'
  recorded_at: Fri, 24 Jul 2015 15:35:36 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"63e409eb88a7fa8b9817a6c5939f44a3"'
    body:
      encoding: UTF-8
      string: '{"name":"Create Badge for Destroy","description":"This is a new badge","requirements":"You
        need to love the Badge API","hint":"Love us..","image":"http://gamification-api.dev/badge_images/create-badge-for-destroy/badge.png","collection_id":"library","created_at":"2015-07-24T15:35:35.969Z","updated_at":"2015-07-24T15:35:35.969Z","level":"bronze","required_badges":[],"points":25,"id":"create-badge-for-destroy"}'
  recorded_at: Fri, 24 Jul 2015 15:35:36 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/create-badge-for-destroy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No badge exists
        with id: create-badge-for-destroy","status":404}}'
  recorded_at: Fri, 24 Jul 2015 15:35:36 GMT
recorded_with: VCR 2.9.3
