---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1bce7fabc53c13a0ffbea47648d92bcb"'
    body:
      encoding: UTF-8
      string: '{"id":309,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-09T15:02:49.823Z","updated_at":"2015-04-09T15:02:49.823Z"}'
  recorded_at: Thu, 09 Apr 2015 15:02:49 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: 309","status":404}}'
  recorded_at: Thu, 09 Apr 2015 15:02:49 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0449bf0e6a1e5a3949f23007e497edb0"'
    body:
      encoding: UTF-8
      string: '{"id":363,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-09T15:15:09.997Z","updated_at":"2015-04-09T15:15:09.997Z"}'
  recorded_at: Thu, 09 Apr 2015 15:15:10 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/363
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: 363","status":404}}'
  recorded_at: Thu, 09 Apr 2015 15:15:10 GMT
recorded_with: VCR 2.9.3
