---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/22
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5096ae70eaaa0430cee666579166e543"'
    body:
      encoding: UTF-8
      string: '{"id":22,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-03-30T10:22:45.190Z","updated_at":"2015-03-30T10:22:45.190Z"}'
  recorded_at: Mon, 30 Mar 2015 10:22:45 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":22,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-03-30T10:22:45.190Z","updated_at":"2015-03-30T10:22:45.190Z"}'
  recorded_at: Mon, 30 Mar 2015 10:22:45 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c1616687d0fc420d85c8590357d1ab29"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Mon, 30 Mar 2015 10:22:45 GMT
recorded_with: VCR 2.9.3
