---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/collections/30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":30,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-01T09:07:42.457Z","updated_at":"2015-04-01T09:07:42.457Z"}'
  recorded_at: Wed, 01 Apr 2015 09:07:42 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Wed, 01 Apr 2015 09:07:42 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/42
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"35f41ef94c2ba550ab43c8a073be5c56"'
    body:
      encoding: UTF-8
      string: '{"id":42,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-01T09:16:28.570Z","updated_at":"2015-04-01T09:16:28.570Z"}'
  recorded_at: Wed, 01 Apr 2015 09:16:28 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/collections/42
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Wed, 01 Apr 2015 09:16:28 GMT
recorded_with: VCR 2.9.3
