---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/48
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":48,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-01T10:23:00.406Z","updated_at":"2015-04-01T10:23:00.406Z"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/48
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2fe468efdeb82fcbbb1de9e00983b07d"'
    body:
      encoding: UTF-8
      string: '{"id":60,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-01T10:24:58.754Z","updated_at":"2015-04-01T10:24:58.754Z"}'
  recorded_at: Wed, 01 Apr 2015 10:24:58 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/60
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Wed, 01 Apr 2015 10:24:58 GMT
recorded_with: VCR 2.9.3
