---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/collections/20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":20,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-03-31T10:12:51.127Z","updated_at":"2015-03-31T10:12:51.127Z"}'
  recorded_at: Tue, 31 Mar 2015 10:12:51 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Tue, 31 Mar 2015 10:12:51 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/32
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"711d0b38ebe31918dfef32587622de29"'
    body:
      encoding: UTF-8
      string: '{"id":32,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-03-31T10:47:39.830Z","updated_at":"2015-03-31T10:47:39.830Z"}'
  recorded_at: Tue, 31 Mar 2015 10:47:39 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/collections/32
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Tue, 31 Mar 2015 10:47:39 GMT
recorded_with: VCR 2.9.3
