---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/24
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"44c01109745df3e849a9356b263fb2c0"'
    body:
      encoding: UTF-8
      string: '{"id":24,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-03-31T15:01:55.502Z","updated_at":"2015-03-31T15:01:55.502Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:55 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":24,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-03-31T15:01:55.502Z","updated_at":"2015-03-31T15:01:55.502Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:55 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Tue, 31 Mar 2015 15:01:55 GMT
recorded_with: VCR 2.9.3
