---
http_interactions:
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/48
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":48,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-01T10:23:00.406Z","updated_at":"2015-04-01T10:23:00.406Z"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/48
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"No Record Found"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/74
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"98562065374ddc948df63a033614615f"'
    body:
      encoding: UTF-8
      string: '{"id":74,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-09T13:06:29.512Z","updated_at":"2015-04-09T13:06:29.512Z"}'
  recorded_at: Thu, 09 Apr 2015 13:06:29 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/74
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: 74","status":404}}'
  recorded_at: Thu, 09 Apr 2015 13:06:29 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+badge&collection%5Bname%5D=Create+Collection+for+Destroy
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ab8fe3f10c891e2816e5b100c6ea1386"'
    body:
      encoding: UTF-8
      string: '{"id":111,"name":"Create Collection for Destroy","description":"This
        is a new badge","created_at":"2015-04-09T13:34:53.950Z","updated_at":"2015-04-09T13:34:53.950Z"}'
  recorded_at: Thu, 09 Apr 2015 13:34:53 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/111
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"No collection exists
        with id: 111","status":404}}'
  recorded_at: Thu, 09 Apr 2015 13:34:54 GMT
recorded_with: VCR 2.9.3
