---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/3/issue
    body:
      encoding: UTF-8
      string: recipient=t.skarbek-wazynski%40lancaster.ac.uk
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"aeb1dc320dbf15761c7cd0f017c85dcb"'
    body:
      encoding: UTF-8
      string: '[{"name":"Book Worm","description":"You have loaned out over 25 books.
        Nice going!","requirements":"Loan out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":"library","created_at":"2015-07-16T09:21:22.448Z","updated_at":"2015-07-16T09:21:22.448Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","required_badges":[],"points":25,"id":"book-worm"}]'
  recorded_at: Thu, 16 Jul 2015 09:30:11 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/mega-book-worm/issue
    body:
      encoding: UTF-8
      string: recipient=t.skarbek-wazynski%40lancaster.ac.uk
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f36c1953e133a2702e97aaf911ca3b8e"'
    body:
      encoding: UTF-8
      string: '{"total_score":75,"badges_total":2,"bronze_count":1,"silver_count":1,"gold_count":0,"platinum_count":0,"object":"recipient","badges":[{"name":"Book
        Worm","description":"You have loaned out over 25 books. Nice going!","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/badge_images/book-worm/badge.png","collection_id":1,"created_at":"2015-07-16T09:21:22.448Z","updated_at":"2015-07-24T15:26:40.086Z","level":"bronze","auto_issue":false,"points":25,"object":"badge","issued_at":"2015-07-27T15:26:04.110Z","id":"book-worm"},{"name":"Mega
        Book Worm","description":"You have loaned out 50 books.","requirements":"Loan
        out 50 books","hint":"You must really like books...","image":"http://gamification-api.dev/badge_images/mega-book-worm/badge.png","collection_id":1,"created_at":"2015-07-16T09:21:22.531Z","updated_at":"2015-07-16T09:21:22.531Z","level":"silver","auto_issue":false,"points":50,"object":"badge","issued_at":"2015-07-27T16:12:12.986Z","id":"mega-book-worm"}]}'
  recorded_at: Mon, 27 Jul 2015 16:12:13 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/mega-book-worm/revoke
    body:
      encoding: UTF-8
      string: recipient=t.skarbek-wazynski%40lancaster.ac.uk
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c65ebcb9cdc3a2b3ff8c11faa7ff67d8"'
    body:
      encoding: UTF-8
      string: '{"total_score":25,"badges_total":1,"bronze_count":1,"silver_count":0,"gold_count":0,"platinum_count":0,"object":"recipient","badges":[{"name":"Book
        Worm","description":"You have loaned out over 25 books. Nice going!","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/badge_images/book-worm/badge.png","collection_id":1,"created_at":"2015-07-16T09:21:22.448Z","updated_at":"2015-07-24T15:26:40.086Z","level":"bronze","auto_issue":false,"points":25,"object":"badge","issued_at":"2015-07-27T15:26:04.110Z","id":"book-worm"}]}'
  recorded_at: Mon, 27 Jul 2015 16:12:13 GMT
recorded_with: VCR 2.9.3
