---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/2/issue
    body:
      encoding: UTF-8
      string: recipient=t.skarbek-wazynski
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Invalid search
        parameter: t.skarbek-wazynski, must be university email address or university
        card number.","status":422}}'
  recorded_at: Tue, 21 Jul 2015 12:42:29 GMT
recorded_with: VCR 2.9.3
