---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/3/issue
    body:
      encoding: UTF-8
      string: recipient=0043181
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e6b84de83553c299cc56d69a94b29540"'
    body:
      encoding: UTF-8
      string: '[{"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":"library","created_at":"2015-04-17T16:05:53.136Z","updated_at":"2015-04-30T14:20:54.145Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","id":"book-worm"},{"name":"Night
        Owl Update","description":"Description?","requirements":"Loan out a book between
        00:00 - 5:00","hint":"It must be late...","image":"http://gamification-api.dev/uploads/badge/image/3/seed.png","collection_id":"library","created_at":"2015-04-17T16:05:53.286Z","updated_at":"2015-04-28T13:57:41.572Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/3/grey_seed.png","id":"night-owl"}]'
  recorded_at: Thu, 30 Apr 2015 14:31:31 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/3/revoke
    body:
      encoding: UTF-8
      string: recipient=0043181
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e51fcef8e071794b9f60277d6fa751ec"'
    body:
      encoding: UTF-8
      string: '[{"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":"library","created_at":"2015-04-17T16:05:53.136Z","updated_at":"2015-04-30T14:20:54.145Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","id":"book-worm"}]'
  recorded_at: Thu, 30 Apr 2015 14:31:32 GMT
recorded_with: VCR 2.9.3
