---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/3/issue
    body:
      encoding: UTF-8
      string: recipient=0043181
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3514db33f344216321fef093b35aabe2"'
    body:
      encoding: UTF-8
      string: '[{"name":"Book Worm","description":"You have loaned out over 25 books.
        Nice going!","requirements":"Loan out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":"library","created_at":"2015-07-16T09:21:22.448Z","updated_at":"2015-07-16T09:21:22.448Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","required_badges":[],"points":25,"id":"book-worm"},{"name":"Night
        Owl","description":"You loaned a book out between Midnight and 5 o''clock","requirements":"Loan
        out a book between 00:00 - 5:00","hint":"It must be late...","image":"http://gamification-api.dev/uploads/badge/image/3/seed.png","collection_id":"library","created_at":"2015-07-16T09:21:22.605Z","updated_at":"2015-07-16T09:21:22.605Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/3/grey_seed.png","required_badges":[],"points":25,"id":"night-owl"}]'
  recorded_at: Thu, 16 Jul 2015 10:38:12 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/3/revoke
    body:
      encoding: UTF-8
      string: recipient=0043181
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"aeb1dc320dbf15761c7cd0f017c85dcb"'
    body:
      encoding: UTF-8
      string: '[{"name":"Book Worm","description":"You have loaned out over 25 books.
        Nice going!","requirements":"Loan out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":"library","created_at":"2015-07-16T09:21:22.448Z","updated_at":"2015-07-16T09:21:22.448Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","required_badges":[],"points":25,"id":"book-worm"}]'
  recorded_at: Thu, 16 Jul 2015 10:38:13 GMT
recorded_with: VCR 2.9.3
