---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/2/issue
    body:
      encoding: UTF-8
      string: recipient=t.skarbek-wazynski
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Unable to find
        user with specified data t.skarbek-wazynski. Recipient data must be a university
        email address, university card number or username.","status":404}}'
  recorded_at: Thu, 03 Sep 2015 10:55:58 GMT
recorded_with: VCR 2.9.3
