---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/1/issue
    body:
      encoding: UTF-8
      string: recipient=t.skarbek-wazynski%40lancaster.ac.uk
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Cannot issue badge:
        Book Worm. The user has already been issued this badge","status":400}}'
  recorded_at: Thu, 16 Jul 2015 10:38:11 GMT
recorded_with: VCR 2.9.3
