---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/3/issue
    body:
      encoding: UTF-8
      string: recipient=0043181
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"845913965d1475617c6511780681bb54"'
    body:
      encoding: UTF-8
      string: '{"total_score":50,"badges_total":2,"bronze_count":2,"silver_count":0,"gold_count":0,"platinum_count":0,"object":"recipient","badges":[{"name":"Book
        Worm","description":"You have loaned out over 25 books. Nice going!","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/badge_images/book-worm/badge.png","collection_id":"library","created_at":"2015-09-03T10:51:07.831Z","updated_at":"2015-09-03T10:51:07.831Z","level":"bronze","auto_issue":false,"status":"live","points":25,"object":"badge","issued_at":"2015-09-03T10:51:08.232Z","id":"book-worm"},{"name":"Night
        Owl","description":"You loaned a book out between Midnight and 5 o''clock","requirements":"Loan
        out a book between 00:00 - 5:00","hint":"It must be late...","image":"http://gamification-api.dev/badge_images/night-owl/badge.png","collection_id":"library","created_at":"2015-09-03T10:51:07.963Z","updated_at":"2015-09-03T10:51:07.963Z","level":"bronze","auto_issue":false,"status":"live","points":25,"object":"badge","issued_at":"2015-09-03T10:55:59.842Z","id":"night-owl"}]}'
  recorded_at: Thu, 03 Sep 2015 10:55:59 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/3/revoke
    body:
      encoding: UTF-8
      string: recipient=0043181
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b580cf4171303fd650475e570ec9458a"'
    body:
      encoding: UTF-8
      string: '{"total_score":25,"badges_total":1,"bronze_count":1,"silver_count":0,"gold_count":0,"platinum_count":0,"object":"recipient","badges":[{"name":"Book
        Worm","description":"You have loaned out over 25 books. Nice going!","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/badge_images/book-worm/badge.png","collection_id":"library","created_at":"2015-09-03T10:51:07.831Z","updated_at":"2015-09-03T10:51:07.831Z","level":"bronze","auto_issue":false,"status":"live","points":25,"object":"badge","issued_at":"2015-09-03T10:51:08.232Z","id":"book-worm"}]}'
  recorded_at: Thu, 03 Sep 2015 10:56:00 GMT
recorded_with: VCR 2.9.3
