---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/2/issue
    body:
      encoding: UTF-8
      string: recipient=t.skarbek-wazynski%40lancaster.ac.uk
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"258a23bca6e338f20360141b75065fb5"'
    body:
      encoding: UTF-8
      string: '[{"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":"library","created_at":"2015-04-17T16:05:53.136Z","updated_at":"2015-04-30T14:20:54.145Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","id":"book-worm"},{"name":"Mega
        Book Worm","description":"Description?","requirements":"Loan out 50 books","hint":"You
        must really like books...","image":"http://gamification-api.dev/uploads/badge/image/2/seed.png","collection_id":"library","created_at":"2015-04-17T16:05:53.212Z","updated_at":"2015-04-27T14:36:14.423Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/2/grey_seed.png","id":"mega-book-worm"}]'
  recorded_at: Thu, 30 Apr 2015 14:31:30 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/2/revoke
    body:
      encoding: UTF-8
      string: recipient=t.skarbek-wazynski%40lancaster.ac.uk
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e51fcef8e071794b9f60277d6fa751ec"'
    body:
      encoding: UTF-8
      string: '[{"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":"library","created_at":"2015-04-17T16:05:53.136Z","updated_at":"2015-04-30T14:20:54.145Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","id":"book-worm"}]'
  recorded_at: Thu, 30 Apr 2015 14:31:30 GMT
recorded_with: VCR 2.9.3
