---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/collections/1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c7f19faeb9514cfbbf3ecc8b71486366"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0ed7f8b14198fd4f6ab95f5b3ede6cbf"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-03-25T13:28:44.144Z","updated_at":"2015-03-25T13:28:44.144Z"}'
  recorded_at: Thu, 26 Mar 2015 12:58:34 GMT
recorded_with: VCR 2.9.3
