---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/badges/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7754d8449bfe1b8fc88019b963ef02c4"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://openbadges.org/wp-content/themes/openbadges2/media/images/content-background.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-03-31T14:07:13.526Z","updated_at":"2015-03-31T14:07:13.526Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:51 GMT
recorded_with: VCR 2.9.3
