---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/badges/1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c7f19faeb9514cfbbf3ecc8b71486366"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"03bc562a6996b773bff6f2fa2a7cea09"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://openbadges.org/wp-content/themes/openbadges2/media/images/content-background.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-03-25T13:28:44.161Z","updated_at":"2015-03-25T13:28:44.161Z"}'
  recorded_at: Thu, 26 Mar 2015 11:41:25 GMT
recorded_with: VCR 2.9.3
