---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/collections/1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5b1d0b43b962258ab7e9ee6c06bc9a1e"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-03-30T14:59:37.612Z","updated_at":"2015-03-30T14:59:37.612Z"}'
  recorded_at: Mon, 30 Mar 2015 20:44:39 GMT
recorded_with: VCR 2.9.3
