---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/1?expand=collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e20f6797b1cc479e8753dbdd648893f5"'
    body:
      encoding: UTF-8
      string: '{"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":"library","created_at":"2015-04-17T16:05:53.136Z","updated_at":"2015-04-30T14:20:54.145Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","collection":{"id":"library","name":"Library","description":"All
        of the badges available related to library data","created_at":"2015-04-17T16:05:52.985Z","updated_at":"2015-04-28T12:38:59.304Z"},"id":"book-worm"}'
  recorded_at: Thu, 30 Apr 2015 14:31:28 GMT
recorded_with: VCR 2.9.3
