---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/badges/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"af57dd89436b02567fcdec221bdb68e7"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://openbadges.org/wp-content/themes/openbadges2/media/images/content-background.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-03-30T14:59:37.633Z","updated_at":"2015-03-30T14:59:37.633Z"}'
  recorded_at: Tue, 31 Mar 2015 09:20:43 GMT
recorded_with: VCR 2.9.3
