---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/1?expand=collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b80871790fdd7187ae6b5bfa1facf441"'
    body:
      encoding: UTF-8
      string: '{"name":"Book Worm","description":"You have loaned out over 25 books.
        Nice going!","requirements":"Loan out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":"library","created_at":"2015-07-16T09:21:22.448Z","updated_at":"2015-07-16T09:21:22.448Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","required_badges":[],"points":25,"collection":{"id":"library","name":"Library","description":"Use
        your library and earn badges","created_at":"2015-07-16T09:21:22.292Z","updated_at":"2015-07-16T09:21:22.292Z"},"id":"book-worm"}'
  recorded_at: Tue, 21 Jul 2015 13:58:09 GMT
recorded_with: VCR 2.9.3
