---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/1?expand=collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"acabd9c48996f4bcc8bce2d936ee0b36"'
    body:
      encoding: UTF-8
      string: '{"name":"Book Worm","description":"You have loaned out over 25 books.
        Nice going!","requirements":"Loan out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/badge_images/book-worm/badge.png","collection_id":"library","created_at":"2015-07-16T09:21:22.448Z","updated_at":"2015-07-24T15:26:40.086Z","level":"bronze","auto_issue":false,"required_badges":[],"points":25,"object":"badge","collection":{"id":"library","name":"Library","description":"Use
        your library and earn badges","created_at":"2015-07-16T09:21:22.292Z","updated_at":"2015-07-16T09:21:22.292Z"},"id":"book-worm"}'
  recorded_at: Mon, 27 Jul 2015 16:12:09 GMT
recorded_with: VCR 2.9.3
