---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4ea5b7a4eed6f4cd4920e04e8b0b49fa"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-04-16T13:34:11.963Z","updated_at":"2015-04-16T13:34:11.963Z"}'
  recorded_at: Thu, 16 Apr 2015 14:26:22 GMT
recorded_with: VCR 2.9.3
