---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/1?expand=collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"db972b326e8aa3ff33a0508862a376b7"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":1,"created_at":"2015-04-16T13:44:50.071Z","updated_at":"2015-04-16T13:44:50.071Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","collection":{"id":1,"name":"Library","description":"All
        of the badges available related to library data","created_at":"2015-04-16T13:34:11.963Z","updated_at":"2015-04-16T13:34:11.963Z"}}'
  recorded_at: Thu, 16 Apr 2015 14:26:04 GMT
recorded_with: VCR 2.9.3
