---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7803b75bcc3f102150384f1606c7a2c7"'
    body:
      encoding: UTF-8
      string: '{"id":"library","name":"Library","description":"Use your library and
        earn badges","created_at":"2015-07-16T09:21:22.292Z","updated_at":"2015-07-16T09:21:22.292Z"}'
  recorded_at: Thu, 16 Jul 2015 10:41:00 GMT
recorded_with: VCR 2.9.3
