---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1//badges/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d3156cfe4d46a27ab2ea501122a99db9"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://openbadges.org/wp-content/themes/openbadges2/media/images/content-background.png","collection_id":1,"created_at":"2015-03-31T14:07:13.526Z","updated_at":"2015-04-09T10:48:49.269Z"}'
  recorded_at: Thu, 09 Apr 2015 10:54:52 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1//badges/1?expand=collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5e2810f21b95e7eca5e33a6487e7028e"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Book Worm","description":"Description?","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://openbadges.org/wp-content/themes/openbadges2/media/images/content-background.png","collection_id":1,"created_at":"2015-03-31T14:07:13.526Z","updated_at":"2015-04-09T10:48:49.269Z","collection":{"id":1,"name":"Library","description":"All
        of the badges available related to library data","created_at":"2015-03-31T14:07:13.505Z","updated_at":"2015-03-31T15:05:42.955Z"}}'
  recorded_at: Thu, 09 Apr 2015 13:29:45 GMT
recorded_with: VCR 2.9.3
