---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"118b5de871deecdfe4b0c185ea352fe8"'
    body:
      encoding: UTF-8
      string: '{"id":"library","name":"Library","description":"Use your library and
        earn badges","created_at":"2015-07-16T09:21:22.292Z","updated_at":"2015-07-16T09:21:22.292Z","total_points_available":125}'
  recorded_at: Tue, 21 Jul 2015 12:42:54 GMT
recorded_with: VCR 2.9.3
