---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/badges/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0aa697870a80c49926a1006d73e8ef78"'
    body:
      encoding: UTF-8
      string: '{"name":"Book Worm","description":"You have loaned out over 25 books.
        Nice going!","requirements":"Loan out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/badge_images/book-worm/badge.png","collection_id":"library","created_at":"2015-09-03T10:51:07.831Z","updated_at":"2015-09-03T10:51:07.831Z","level":"bronze","auto_issue":false,"status":"live","required_badges":[],"points":25,"object":"badge","id":"book-worm"}'
  recorded_at: Thu, 03 Sep 2015 10:55:57 GMT
recorded_with: VCR 2.9.3
