---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1//collections/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"31b49a9dd4da310e0a93c0db9d892760"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Library","description":"All of the badges available
        related to library data","created_at":"2015-03-31T14:07:13.505Z","updated_at":"2015-03-31T15:05:42.955Z"}'
  recorded_at: Thu, 09 Apr 2015 13:34:54 GMT
recorded_with: VCR 2.9.3
