---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/collections/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2a1b757a5a95e6751bebbc3c4ca9108e"'
    body:
      encoding: UTF-8
      string: '{"id":"library","name":"Library","description":"Use your library and
        earn badges","created_at":"2015-08-27T08:25:23.303Z","updated_at":"2015-08-27T08:25:23.303Z","total_points_available":125,"object":"collection"}'
  recorded_at: Thu, 27 Aug 2015 08:26:07 GMT
recorded_with: VCR 2.9.3
