---
http_interactions:
- request:
    method: get
    uri: https://gamification-api.dev/v1/recipients?recipient=j.stennett@lancaster.ac.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"142264d94121989e7f083bdc1e6d7bda"'
    body:
      encoding: UTF-8
      string: '{"total_score":0,"badges_total":0,"bronze_count":0,"silver_count":0,"gold_count":0,"platinum_count":0,"object":"recipient","badges":[]}'
  recorded_at: Thu, 19 Nov 2015 14:13:57 GMT
- request:
    method: get
    uri: https://gamification-api.dev/v1/recipients?recipient=t.skarbek-wazynski@lancaster.ac.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"365681d5132a5e92b7946178e30b2356"'
    body:
      encoding: UTF-8
      string: '{"total_score":25,"badges_total":1,"bronze_count":1,"silver_count":0,"gold_count":0,"platinum_count":0,"object":"recipient","badges":[{"name":"Book
        Worm","description":"You have loaned out over 25 books. Nice going!","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"https://gamification-api.dev/badge_images/book-worm/badge.png","collection_id":"library","created_at":"2015-11-18T11:39:58.956Z","updated_at":"2015-11-18T11:39:58.956Z","level":"bronze","auto_issue":false,"status":"live","points":25,"object":"badge","issued_at":"2015-11-18T11:40:26.379Z","id":"book-worm"}]}'
  recorded_at: Thu, 19 Nov 2015 14:15:35 GMT
recorded_with: VCR 2.9.3
