---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/recipients?user=0043181
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0616856c23bcaead77926c29e5390c8b"'
    body:
      encoding: UTF-8
      string: '{"total_score":25,"badges_total":1,"bronze_count":1,"silver_count":0,"gold_count":0,"platinum_count":0}'
  recorded_at: Fri, 17 Jul 2015 15:42:43 GMT
recorded_with: VCR 2.9.3
