---
http_interactions:
- request:
    method: get
    uri: http://gamification-api.dev/v1/recipients?user=0043181
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c65ebcb9cdc3a2b3ff8c11faa7ff67d8"'
    body:
      encoding: UTF-8
      string: '{"total_score":25,"badges_total":1,"bronze_count":1,"silver_count":0,"gold_count":0,"platinum_count":0,"object":"recipient","badges":[{"name":"Book
        Worm","description":"You have loaned out over 25 books. Nice going!","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/badge_images/book-worm/badge.png","collection_id":1,"created_at":"2015-07-16T09:21:22.448Z","updated_at":"2015-07-24T15:26:40.086Z","level":"bronze","auto_issue":false,"points":25,"object":"badge","issued_at":"2015-07-27T15:26:04.110Z","id":"book-worm"}]}'
  recorded_at: Mon, 27 Jul 2015 16:12:33 GMT
recorded_with: VCR 2.9.3
