---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/2/revoke
    body:
      encoding: UTF-8
      string: recipient=t.skarbek-wazynski%40lancaster.ac.uk
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3514db33f344216321fef093b35aabe2"'
    body:
      encoding: UTF-8
      string: '[{"name":"Book Worm","description":"You have loaned out over 25 books.
        Nice going!","requirements":"Loan out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/uploads/badge/image/1/seed.png","collection_id":"library","created_at":"2015-07-16T09:21:22.448Z","updated_at":"2015-07-16T09:21:22.448Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/1/grey_seed.png","required_badges":[],"points":25,"id":"book-worm"},{"name":"Night
        Owl","description":"You loaned a book out between Midnight and 5 o''clock","requirements":"Loan
        out a book between 00:00 - 5:00","hint":"It must be late...","image":"http://gamification-api.dev/uploads/badge/image/3/seed.png","collection_id":"library","created_at":"2015-07-16T09:21:22.605Z","updated_at":"2015-07-16T09:21:22.605Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/3/grey_seed.png","required_badges":[],"points":25,"id":"night-owl"}]'
  recorded_at: Thu, 16 Jul 2015 09:30:12 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/2/issue
    body:
      encoding: UTF-8
      string: recipient=t.skarbek-wazynski%40lancaster.ac.uk
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":"Cannot issue badge:
        Mega Book Worm. The user has already been issued this badge","status":400}}'
  recorded_at: Thu, 16 Jul 2015 09:42:11 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/mega-book-worm/issue
    body:
      encoding: UTF-8
      string: recipient=t.skarbek-wazynski%40lancaster.ac.uk
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"645fdcd9ef4b502bd16d080088875170"'
    body:
      encoding: UTF-8
      string: '{"total_score":75,"badges_total":2,"bronze_count":1,"silver_count":1,"gold_count":0,"platinum_count":0,"object":"recipient","badges":[{"name":"Book
        Worm","description":"You have loaned out over 25 books. Nice going!","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/badge_images/book-worm/badge.png","collection_id":"library","created_at":"2015-09-03T10:51:07.831Z","updated_at":"2015-09-03T10:51:07.831Z","level":"bronze","auto_issue":false,"status":"live","points":25,"object":"badge","issued_at":"2015-09-03T10:51:08.232Z","id":"book-worm"},{"name":"Mega
        Book Worm","description":"You have loaned out 50 books.","requirements":"Loan
        out 50 books","hint":"You must really like books...","image":"http://gamification-api.dev/badge_images/mega-book-worm/badge.png","collection_id":"library","created_at":"2015-09-03T10:51:07.899Z","updated_at":"2015-09-03T10:51:07.899Z","level":"silver","auto_issue":false,"status":"live","points":50,"object":"badge","issued_at":"2015-09-03T10:56:00.871Z","id":"mega-book-worm"}]}'
  recorded_at: Thu, 03 Sep 2015 10:56:00 GMT
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges/mega-book-worm/revoke
    body:
      encoding: UTF-8
      string: recipient=t.skarbek-wazynski%40lancaster.ac.uk
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b580cf4171303fd650475e570ec9458a"'
    body:
      encoding: UTF-8
      string: '{"total_score":25,"badges_total":1,"bronze_count":1,"silver_count":0,"gold_count":0,"platinum_count":0,"object":"recipient","badges":[{"name":"Book
        Worm","description":"You have loaned out over 25 books. Nice going!","requirements":"Loan
        out 25 books","hint":"You must like books...","image":"http://gamification-api.dev/badge_images/book-worm/badge.png","collection_id":"library","created_at":"2015-09-03T10:51:07.831Z","updated_at":"2015-09-03T10:51:07.831Z","level":"bronze","auto_issue":false,"status":"live","points":25,"object":"badge","issued_at":"2015-09-03T10:51:08.232Z","id":"book-worm"}]}'
  recorded_at: Thu, 03 Sep 2015 10:56:00 GMT
recorded_with: VCR 2.9.3
