---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/v1//collections/52
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Description&collection%5Bname%5D=Updated+Badge
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":52,"name":"Updated Badge","description":"Updated Description","created_at":"2015-04-01T10:23:00.839Z","updated_at":"2015-04-01T10:23:00.874Z"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ca974cc2ed38cd1d04e903db7dae7fc7"'
    body:
      encoding: UTF-8
      string: '{"id":64,"name":"Create Collection for update","description":"This
        is a new collection","created_at":"2015-04-01T10:24:59.187Z","updated_at":"2015-04-01T10:24:59.187Z"}'
  recorded_at: Wed, 01 Apr 2015 10:24:59 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/64
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":64,"name":"Updated Badge","description":"Updated Description","created_at":"2015-04-01T10:24:59.187Z","updated_at":"2015-04-01T10:24:59.217Z"}'
  recorded_at: Wed, 01 Apr 2015 10:24:59 GMT
recorded_with: VCR 2.9.3
