---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAMAAABFaP0WAAAAGXRFWHRTb2Z0%0Ad2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9i%0AZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2Vo%0AaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6%0AbnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5%0ALjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpS%0ARE[...]
- request:
    method: patch
    uri: http://gamification-api.dev/v1/badges/create-badge-for-update
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=trim-trail&badge%5Bdescription%5D=Updated+Description&badge%5Bhint%5D=Updated+Hint&badge%5Bname%5D=Updated+Badge&badge%5Brequirements%5D=Updated+Requirements
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9cd6dc4f083d7890c467f2c097c4b47c"'
    body:
      encoding: UTF-8
      string: '{"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"http://gamification-api.dev/uploads/badge/image/52/badge_ae2c20b6ac6a734ff32e.png","collection_id":"trim-trail","created_at":"2015-07-17T14:56:22.188Z","updated_at":"2015-07-17T14:56:22.235Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/52/grey_badge_ae2c20b6ac6a734ff32e.png","required_badges":[],"points":25,"id":"updated-badge"}'
  recorded_at: Fri, 17 Jul 2015 14:56:22 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/create-badge-for-update
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9cd6dc4f083d7890c467f2c097c4b47c"'
    body:
      encoding: UTF-8
      string: '{"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"http://gamification-api.dev/uploads/badge/image/52/badge_ae2c20b6ac6a734ff32e.png","collection_id":"trim-trail","created_at":"2015-07-17T14:56:22.188Z","updated_at":"2015-07-17T14:56:22.235Z","level":"bronze","image_greyscale":"http://gamification-api.dev/uploads/badge/image/52/grey_badge_ae2c20b6ac6a734ff32e.png","required_badges":[],"points":25,"id":"updated-badge"}'
  recorded_at: Fri, 17 Jul 2015 14:56:22 GMT
recorded_with: VCR 2.9.3
