---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"092994724bacccc099c6199a584553e3"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-for-update","name":"Create Collection for
        update","description":"This is a new collection","created_at":"2015-08-27T08:26:07.773Z","updated_at":"2015-08-27T08:26:07.773Z","total_points_available":0,"object":"collection"}'
  recorded_at: Thu, 27 Aug 2015 08:26:07 GMT
- request:
    method: patch
    uri: http://gamification-api.dev/v1/collections/create-collection-for-update
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Description&collection%5Bname%5D=Updated+Badge
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8406bcbe1abbcf1baf974c9312777e0b"'
    body:
      encoding: UTF-8
      string: '{"id":"updated-badge","name":"Updated Badge","description":"Updated
        Description","created_at":"2015-08-27T08:26:07.773Z","updated_at":"2015-08-27T08:26:07.817Z","total_points_available":0,"object":"collection"}'
  recorded_at: Thu, 27 Aug 2015 08:26:07 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/create-collection-for-update
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8406bcbe1abbcf1baf974c9312777e0b"'
    body:
      encoding: UTF-8
      string: '{"id":"updated-badge","name":"Updated Badge","description":"Updated
        Description","created_at":"2015-08-27T08:26:07.773Z","updated_at":"2015-08-27T08:26:07.817Z","total_points_available":0,"object":"collection"}'
  recorded_at: Thu, 27 Aug 2015 08:26:07 GMT
recorded_with: VCR 2.9.3
