---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/v1/badges/create-badge-for-update
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=trim-trail&badge%5Bdescription%5D=Updated+Description&badge%5Bhint%5D=Updated+Hint&badge%5Bname%5D=Updated+Badge&badge%5Brequirements%5D=Updated+Requirements
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"71070d0abf51a35d684fe8dafb944b26"'
    body:
      encoding: UTF-8
      string: '{"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"http://gamification-api.dev/badge_images/updated-badge/badge.png","collection_id":"trim-trail","created_at":"2015-08-27T15:27:17.722Z","updated_at":"2015-08-27T15:27:17.826Z","level":"bronze","auto_issue":false,"status":"draft","required_badges":[],"points":25,"object":"badge","id":"updated-badge"}'
  recorded_at: Thu, 27 Aug 2015 15:27:17 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Blevel%5D=bronze&badge%5Bname%5D=Create+Badge+for+update&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"type":"invalid_request_error","message":{"name":["has already
        been taken"]},"status":422}}'
  recorded_at: Thu, 27 Aug 2015 15:29:39 GMT
recorded_with: VCR 2.9.3
