---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8ac963214e44f4b1ef1ea90bee6283cc"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-for-update","name":"Create Collection for
        update","description":"This is a new collection","created_at":"2015-07-27T16:14:32.793Z","updated_at":"2015-07-27T16:14:32.793Z","total_points_available":0,"object":"collection"}'
  recorded_at: Mon, 27 Jul 2015 16:14:32 GMT
- request:
    method: patch
    uri: http://gamification-api.dev/v1/collections/create-collection-for-update
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Description&collection%5Bname%5D=Updated+Badge
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6f071d7e9375bf3c1fc0cd75c175bf94"'
    body:
      encoding: UTF-8
      string: '{"id":"updated-badge","name":"Updated Badge","description":"Updated
        Description","created_at":"2015-07-27T16:14:32.793Z","updated_at":"2015-07-27T16:14:32.860Z","total_points_available":0,"object":"collection"}'
  recorded_at: Mon, 27 Jul 2015 16:14:32 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/create-collection-for-update
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6f071d7e9375bf3c1fc0cd75c175bf94"'
    body:
      encoding: UTF-8
      string: '{"id":"updated-badge","name":"Updated Badge","description":"Updated
        Description","created_at":"2015-07-27T16:14:32.793Z","updated_at":"2015-07-27T16:14:32.860Z","total_points_available":0,"object":"collection"}'
  recorded_at: Mon, 27 Jul 2015 16:14:32 GMT
recorded_with: VCR 2.9.3
