---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/27
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"163036f38d8b9b50f107b8282d220f83"'
    body:
      encoding: UTF-8
      string: '{"id":27,"name":"Create Collection for update","description":"This
        is a new collection","created_at":"2015-03-31T15:01:55.817Z","updated_at":"2015-03-31T15:01:55.817Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:55 GMT
- request:
    method: patch
    uri: http://gamification-api.dev/collections/27
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Collection&collection%5Bname%5D=Updated+Collection
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":27,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-03-31T15:01:55.817Z","updated_at":"2015-03-31T15:01:55.848Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:55 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/collections/27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":27,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-03-31T15:01:55.817Z","updated_at":"2015-03-31T15:01:55.848Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:55 GMT
recorded_with: VCR 2.9.3
