---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=http%3A%2F%2Fexample.org%2Fbadge.png&badge%5Bname%5D=Create+Badge+for+update&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/badges/40
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e993eda39c7d3cb7203dfc28981b230d"'
    body:
      encoding: UTF-8
      string: '{"id":40,"name":"Create Badge for update","description":"This is a
        new badge","requirements":"You need to love the Badge API","hint":"Love us..","image":"http://example.org/badge.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-03-31T15:01:51.620Z","updated_at":"2015-03-31T15:01:51.620Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:51 GMT
- request:
    method: patch
    uri: http://gamification-api.dev/badges/40
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=2&badge%5Bdescription%5D=Updated+Description&badge%5Bhint%5D=Updated+Hint&badge%5Bimage%5D=Updated+Image&badge%5Bissued_at%5D=&badge%5Bissuer_id%5D=&badge%5Bname%5D=Updated+Badge&badge%5Brecipient_id%5D=&badge%5Brequirements%5D=Updated+Requirements
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":40,"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"Updated Image","recipient_id":null,"issuer_id":null,"collection_id":2,"issued_at":null,"created_at":"2015-03-31T15:01:51.620Z","updated_at":"2015-03-31T15:01:51.661Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:51 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/badges/40
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":40,"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"Updated Image","recipient_id":null,"issuer_id":null,"collection_id":2,"issued_at":null,"created_at":"2015-03-31T15:01:51.620Z","updated_at":"2015-03-31T15:01:51.661Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:51 GMT
recorded_with: VCR 2.9.3
