---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/v1/collections/7
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Description&collection%5Bname%5D=Updated+Badge
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b7e61a8735681c4bd215dad167b96733"'
    body:
      encoding: UTF-8
      string: '{"id":7,"name":"Updated Badge","description":"Updated Description","created_at":"2015-04-16T13:54:33.487Z","updated_at":"2015-04-16T13:54:33.528Z"}'
  recorded_at: Thu, 16 Apr 2015 13:54:33 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f5d275f5dec70886cb038e121c766ec2"'
    body:
      encoding: UTF-8
      string: '{"id":19,"name":"Create Collection for update","description":"This
        is a new collection","created_at":"2015-04-16T14:26:22.376Z","updated_at":"2015-04-16T14:26:22.376Z"}'
  recorded_at: Thu, 16 Apr 2015 14:26:22 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/19
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6377a41bdd17ea54fd1072a363b6e7f1"'
    body:
      encoding: UTF-8
      string: '{"id":19,"name":"Updated Badge","description":"Updated Description","created_at":"2015-04-16T14:26:22.376Z","updated_at":"2015-04-16T14:26:22.410Z"}'
  recorded_at: Thu, 16 Apr 2015 14:26:22 GMT
recorded_with: VCR 2.9.3
