---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/v1//collections/52
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Description&collection%5Bname%5D=Updated+Badge
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":52,"name":"Updated Badge","description":"Updated Description","created_at":"2015-04-01T10:23:00.839Z","updated_at":"2015-04-01T10:23:00.874Z"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
[...]
- request:
    method: patch
    uri: http://gamification-api.dev/v1//collections/78
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Description&collection%5Bname%5D=Updated+Badge
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e884aa045e2ee6c4881f84b9db9e14a3"'
    body:
      encoding: UTF-8
      string: '{"id":78,"name":"Updated Badge","description":"Updated Description","created_at":"2015-04-09T13:06:30.013Z","updated_at":"2015-04-09T13:06:30.044Z"}'
  recorded_at: Thu, 09 Apr 2015 13:06:30 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0f405e524170f664aa5d48f05baffff5"'
    body:
      encoding: UTF-8
      string: '{"id":169,"name":"Create Collection for update","description":"This
        is a new collection","created_at":"2015-04-09T14:14:21.540Z","updated_at":"2015-04-09T14:14:21.540Z"}'
  recorded_at: Thu, 09 Apr 2015 14:14:21 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/169
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7b9d799906f417c9d62c40f0b145dd6e"'
    body:
      encoding: UTF-8
      string: '{"id":169,"name":"Updated Badge","description":"Updated Description","created_at":"2015-04-09T14:14:21.540Z","updated_at":"2015-04-09T14:14:21.565Z"}'
  recorded_at: Thu, 09 Apr 2015 14:14:21 GMT
recorded_with: VCR 2.9.3
