---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/v1/badges/17
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=2&badge%5Bdescription%5D=Updated+Description&badge%5Bhint%5D=Updated+Hint&badge%5Bname%5D=Updated+Badge&badge%5Brequirements%5D=Updated+Requirements
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2692c60d69783326f4aa6be681e14eb7"'
    body:
      encoding: UTF-8
      string: '{"id":17,"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"http://gamification-api.dev/uploads/badge/image/17/badge_c2a512c59e2ec3db7a9f.png","collection_id":2,"created_at":"2015-04-16T14:07:02.318Z","updated_at":"2015-04-16T14:07:02.360Z","image_greyscale":"http://gamification-api.dev/uploads/badge/image/17/grey_badge_c2a512c59e2ec3db7a9f.png"}'
  recorded_at: Thu, 16 Apr 2015 14:07:02 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAMAAABFaP0WAAAAGXRFWHRTb2Z0%0Ad2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9i%0AZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2Vo%0AaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6%0AbnM6bWV0[...]
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/badges/47
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d59e0eb4e4450fbe3642fefc0d90fdcf"'
    body:
      encoding: UTF-8
      string: '{"id":47,"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"http://gamification-api.dev/uploads/badge/image/47/badge_1a60444efe714205ddbb.png","collection_id":2,"created_at":"2015-04-16T14:26:05.029Z","updated_at":"2015-04-16T14:26:05.072Z"}'
  recorded_at: Thu, 16 Apr 2015 14:26:05 GMT
recorded_with: VCR 2.9.3
