---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/collections/48
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Collection&collection%5Bname%5D=Updated+Collection
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":48,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-03-31T13:42:50.311Z","updated_at":"2015-03-31T13:42:50.347Z"}'
  recorded_at: Tue, 31 Mar 2015 13:42:50 GMT
[...]
- request:
    method: get
    uri: http://gamification-api.dev/collections/53
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"841caccd97efd76248c0bb7d9caf77c5"'
    body:
      encoding: UTF-8
      string: '{"id":53,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-03-31T13:43:15.935Z","updated_at":"2015-03-31T13:43:15.971Z"}'
  recorded_at: Tue, 31 Mar 2015 13:43:15 GMT
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/58
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0e05e7c551a12e462f5eb5f1d01d799d"'
    body:
      encoding: UTF-8
      string: '{"id":58,"name":"Create Collection for update","description":"This
        is a new collection","created_at":"2015-03-31T13:43:38.882Z","updated_at":"2015-03-31T13:43:38.882Z"}'
  recorded_at: Tue, 31 Mar 2015 13:43:38 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/collections/58
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="86340fbfc17b4032b07592037dcc5e0b"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":58,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-03-31T13:43:38.882Z","updated_at":"2015-03-31T13:43:38.913Z"}'
  recorded_at: Tue, 31 Mar 2015 13:43:38 GMT
recorded_with: VCR 2.9.3
