---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/collections/34
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Description&collection%5Bname%5D=Updated+Badge
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":34,"name":"Updated Badge","description":"Updated Description","created_at":"2015-04-01T09:07:42.918Z","updated_at":"2015-04-01T09:07:42.949Z"}'
  recorded_at: Wed, 01 Apr 2015 09:07:42 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/46
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"574add9786cf54f2c198bb85e98c5ed8"'
    body:
      encoding: UTF-8
      string: '{"id":46,"name":"Create Collection for update","description":"This
        is a new collection","created_at":"2015-04-01T09:16:28.991Z","updated_at":"2015-04-01T09:16:28.991Z"}'
  recorded_at: Wed, 01 Apr 2015 09:16:29 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/collections/46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":46,"name":"Updated Badge","description":"Updated Description","created_at":"2015-04-01T09:16:28.991Z","updated_at":"2015-04-01T09:16:29.026Z"}'
  recorded_at: Wed, 01 Apr 2015 09:16:29 GMT
recorded_with: VCR 2.9.3
