---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/v1//badges/36
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=2&badge%5Bdescription%5D=Updated+Description&badge%5Bhint%5D=Updated+Hint&badge%5Bimage%5D=Updated+Image&badge%5Bname%5D=Updated+Badge&badge%5Brequirements%5D=Updated+Requirements
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":36,"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"Updated Image","collection_id":2,"created_at":"2015-04-08T16:04:13.070Z","updated_at":"2015-04-08T16:04:13.102Z"}'
  recorded_at: Wed, 08 Apr 2015 16:04:13 GMT
[...]
- request:
    method: patch
    uri: http://gamification-api.dev/v1//badges/74
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=2&badge%5Bdescription%5D=Updated+Description&badge%5Bhint%5D=Updated+Hint&badge%5Bimage%5D=Updated+Image&badge%5Bname%5D=Updated+Badge&badge%5Brequirements%5D=Updated+Requirements
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4f11a3150060afd717a30c513d31c204"'
    body:
      encoding: UTF-8
      string: '{"id":74,"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"Updated Image","collection_id":2,"created_at":"2015-04-09T10:18:35.914Z","updated_at":"2015-04-09T10:18:35.952Z"}'
  recorded_at: Thu, 09 Apr 2015 10:18:35 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=http%3A%2F%2Fexample.org%2Fbadge.png&badge%5Bname%5D=Create+Badge+for+update&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8134d028ab4f23c679d80ac85ddb392f"'
    body:
      encoding: UTF-8
      string: '{"id":216,"name":"Create Badge for update","description":"This is a
        new badge","requirements":"You need to love the Badge API","hint":"Love us..","image":"http://example.org/badge.png","collection_id":1,"created_at":"2015-04-09T13:29:46.111Z","updated_at":"2015-04-09T13:29:46.111Z"}'
  recorded_at: Thu, 09 Apr 2015 13:29:46 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//badges/216
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5eaa25068630e151f3a33832821a85e4"'
    body:
      encoding: UTF-8
      string: '{"id":216,"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"Updated Image","collection_id":2,"created_at":"2015-04-09T13:29:46.111Z","updated_at":"2015-04-09T13:29:46.141Z"}'
  recorded_at: Thu, 09 Apr 2015 13:29:46 GMT
recorded_with: VCR 2.9.3
