---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5c052f30b41a7f34e64207d50ac045f7"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-for-update","name":"Create Collection for
        update","description":"This is a new collection","created_at":"2015-07-21T15:15:00.218Z","updated_at":"2015-07-21T15:15:00.218Z","total_points_available":0}'
  recorded_at: Tue, 21 Jul 2015 15:15:00 GMT
- request:
    method: patch
    uri: http://gamification-api.dev/v1/collections/create-collection-for-update
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Description&collection%5Bname%5D=Updated+Badge
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c99d9fed20f667f0af4cefc54706956a"'
    body:
      encoding: UTF-8
      string: '{"id":"updated-badge","name":"Updated Badge","description":"Updated
        Description","created_at":"2015-07-21T15:15:00.218Z","updated_at":"2015-07-21T15:15:00.281Z","total_points_available":0}'
  recorded_at: Tue, 21 Jul 2015 15:15:00 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/create-collection-for-update
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c99d9fed20f667f0af4cefc54706956a"'
    body:
      encoding: UTF-8
      string: '{"id":"updated-badge","name":"Updated Badge","description":"Updated
        Description","created_at":"2015-07-21T15:15:00.218Z","updated_at":"2015-07-21T15:15:00.281Z","total_points_available":0}'
  recorded_at: Tue, 21 Jul 2015 15:15:00 GMT
recorded_with: VCR 2.9.3
