---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/badges/53
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=2&badge%5Bdescription%5D=Updated+Description&badge%5Bhint%5D=Updated+Hint&badge%5Bimage%5D=Updated+Image&badge%5Bname%5D=Updated+Badge&badge%5Brequirements%5D=Updated+Requirements
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":53,"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"Updated Image","recipient_id":null,"issuer_id":null,"collection_id":2,"issued_at":null,"created_at":"2015-04-01T09:07:37.569Z","updated_at":"2015-04-01T09:07:37.599Z"}'
  recorded_at: Wed, 01 Apr 2015 09:07:37 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=http%3A%2F%2Fexample.org%2Fbadge.png&badge%5Bname%5D=Create+Badge+for+update&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/badges/59
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a265aaa71b537ac6032da247e2826b4d"'
    body:
      encoding: UTF-8
      string: '{"id":59,"name":"Create Badge for update","description":"This is a
        new badge","requirements":"You need to love the Badge API","hint":"Love us..","image":"http://example.org/badge.png","recipient_id":null,"issuer_id":null,"collection_id":1,"issued_at":null,"created_at":"2015-04-01T09:16:25.275Z","updated_at":"2015-04-01T09:16:25.275Z"}'
  recorded_at: Wed, 01 Apr 2015 09:16:25 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/badges/59
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":59,"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"Updated Image","recipient_id":null,"issuer_id":null,"collection_id":2,"issued_at":null,"created_at":"2015-04-01T09:16:25.275Z","updated_at":"2015-04-01T09:16:25.306Z"}'
  recorded_at: Wed, 01 Apr 2015 09:16:25 GMT
recorded_with: VCR 2.9.3
