---
http_interactions:
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/28
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0a36be63410af0fec024425cb7945e7c"'
    body:
      encoding: UTF-8
      string: '{"id":28,"name":"Create Collection for update","description":"This
        is a new collection","created_at":"2015-03-31T15:01:55.928Z","updated_at":"2015-03-31T15:01:55.928Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:55 GMT
- request:
    method: patch
    uri: http://gamification-api.dev/collections/28
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Description&collection%5Bname%5D=Updated+Badge
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":28,"name":"Updated Badge","description":"Updated Description","created_at":"2015-03-31T15:01:55.928Z","updated_at":"2015-03-31T15:01:55.963Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:55 GMT
- request:
    method: delete
    uri: http://gamification-api.dev/collections/28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":28,"name":"Updated Badge","description":"Updated Description","created_at":"2015-03-31T15:01:55.928Z","updated_at":"2015-03-31T15:01:55.963Z"}'
  recorded_at: Tue, 31 Mar 2015 15:01:55 GMT
recorded_with: VCR 2.9.3
