---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/v1//badges/75
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=2&badge%5Bdescription%5D=Updated+Description&badge%5Bhint%5D=Updated+Hint&badge%5Bimage%5D=Updated+Image&badge%5Bissued_at%5D=&badge%5Bissuer_id%5D=&badge%5Bname%5D=Updated+Badge&badge%5Brecipient_id%5D=&badge%5Brequirements%5D=Updated+Requirements
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":75,"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"Updated Image","recipient_id":null,"issuer_id":null,"collection_id":2,"issued_at":null,"created_at":"2015-04-01T10:22:50.521Z","updated_at":"2015-04-01T10:22:50.559Z"}'
  recorded_at: Wed, 01 Apr 2015 10:22:50 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1//badges/75
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b79b7b17f64a32d5e7f632924e4b183d"'
    body:
      encoding: UTF-8
      string: '{"id":75,"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"Updated Image","recipient_id":null,"issuer_id":null,"collection_id":2,"issued_at":null,"created_at":"2015-04-01T10:22:50.521Z","updated_at":"2015-04-01T10:22:50.559Z"}'
  recorded_at: Wed, 01 Apr 2015 10:22:50 GMT
[...]
- request:
    method: patch
    uri: http://gamification-api.dev/v1//badges/47
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=2&badge%5Bdescription%5D=Updated+Description&badge%5Bhint%5D=Updated+Hint&badge%5Bimage%5D=Updated+Image&badge%5Bname%5D=Updated+Badge&badge%5Brequirements%5D=Updated+Requirements
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\"
        />\n  <title>Action Controller: Exception caught</title>\n  <style>\n    body
        {\n      background-color: #FAFAFA;\n      color: #333;\n      margin: 0px;\n
        \   }\n\n    body, p, ol, ul, td {\n      font-family: helvetica, verdana,
        arial, sans-serif;\n      font-size:   13px;\n      line-height: 18px;\n    }\n\n
        \   pre {\n      font-size: 11px;\n      white-space: pre-wrap;\n    }\n\n
        \   pre.box {\n      border: 1px solid #EEE;\n      padding: 10px;\n      margin:
        0px;\n      width: 958px;\n    }\n\n    header {\[...]
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//badges
    body:
      encoding: UTF-8
      string: badge%5Bcollection_id%5D=1&badge%5Bdescription%5D=This+is+a+new+badge&badge%5Bhint%5D=Love+us..&badge%5Bimage%5D=http%3A%2F%2Fexample.org%2Fbadge.png&badge%5Bname%5D=Create+Badge+for+update&badge%5Brequirements%5D=You+need+to+love+the+Badge+API
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"20f9446fb4771de3eb7043cfd5334c3a"'
    body:
      encoding: UTF-8
      string: '{"id":215,"name":"Create Badge for update","description":"This is a
        new badge","requirements":"You need to love the Badge API","hint":"Love us..","image":"http://example.org/badge.png","collection_id":1,"created_at":"2015-04-09T13:29:45.799Z","updated_at":"2015-04-09T13:29:45.799Z"}'
  recorded_at: Thu, 09 Apr 2015 13:29:45 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//badges/215
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ec4e1d8ceef18ed165f6c456a6c8f970"'
    body:
      encoding: UTF-8
      string: '{"id":215,"name":"Updated Badge","description":"Updated Description","requirements":"Updated
        Requirements","hint":"Updated Hint","image":"Updated Image","collection_id":2,"created_at":"2015-04-09T13:29:45.799Z","updated_at":"2015-04-09T13:29:45.829Z"}'
  recorded_at: Thu, 09 Apr 2015 13:29:45 GMT
recorded_with: VCR 2.9.3
