---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/v1//collections/51
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Collection&collection%5Bname%5D=Updated+Collection
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":51,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-04-01T10:23:00.718Z","updated_at":"2015-04-01T10:23:00.758Z"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
- request:
    method: get
    uri: http://gamification-api.dev/v1//collections/51
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ecd6ea4d0513bbb7fc3fc6ae4c9997dd"'
    body:
      encoding: UTF-8
      string: '{"id":51,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-04-01T10:23:00.718Z","updated_at":"2015-04-01T10:23:00.758Z"}'
  recorded_at: Wed, 01 Apr 2015 10:23:00 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1//collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d39c9c67fdeab2c4985c9729c722ce40"'
    body:
      encoding: UTF-8
      string: '{"id":114,"name":"Create Collection for update","description":"This
        is a new collection","created_at":"2015-04-09T13:34:54.381Z","updated_at":"2015-04-09T13:34:54.381Z"}'
  recorded_at: Thu, 09 Apr 2015 13:34:54 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1//collections/114
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e6dac0f7252540a6383693555e0af5c0"'
    body:
      encoding: UTF-8
      string: '{"id":114,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-04-09T13:34:54.381Z","updated_at":"2015-04-09T13:34:54.418Z"}'
  recorded_at: Thu, 09 Apr 2015 13:34:54 GMT
recorded_with: VCR 2.9.3
