---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/collections/33
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Collection&collection%5Bname%5D=Updated+Collection
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":33,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-04-01T09:07:42.804Z","updated_at":"2015-04-01T09:07:42.841Z"}'
  recorded_at: Wed, 01 Apr 2015 09:07:42 GMT
- request:
    method: get
    uri: http://gamification-api.dev/collections/33
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e214012ef20796d4cfaece807c623c39"'
    body:
      encoding: UTF-8
      string: '{"id":33,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-04-01T09:07:42.804Z","updated_at":"2015-04-01T09:07:42.841Z"}'
  recorded_at: Wed, 01 Apr 2015 09:07:42 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - http://gamification-api.dev/collections/45
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4c219283e9af0e5b1845995a336d6633"'
    body:
      encoding: UTF-8
      string: '{"id":45,"name":"Create Collection for update","description":"This
        is a new collection","created_at":"2015-04-01T09:16:28.882Z","updated_at":"2015-04-01T09:16:28.882Z"}'
  recorded_at: Wed, 01 Apr 2015 09:16:28 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/collections/45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":45,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-04-01T09:16:28.882Z","updated_at":"2015-04-01T09:16:28.916Z"}'
  recorded_at: Wed, 01 Apr 2015 09:16:28 GMT
recorded_with: VCR 2.9.3
