---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/v1/collections/6
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Collection&collection%5Bname%5D=Updated+Collection
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"54285cad57e8779338afdd28642a9398"'
    body:
      encoding: UTF-8
      string: '{"id":6,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-04-16T13:54:33.331Z","updated_at":"2015-04-16T13:54:33.375Z"}'
  recorded_at: Thu, 16 Apr 2015 13:54:33 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a2cc672d1a060a2b415fe64f81cf8dca"'
    body:
      encoding: UTF-8
      string: '{"id":"create-collection-for-update","name":"Create Collection for
        update","description":"This is a new collection","created_at":"2015-04-30T13:42:24.233Z","updated_at":"2015-04-30T13:42:24.233Z"}'
  recorded_at: Thu, 30 Apr 2015 13:42:24 GMT
- request:
    method: patch
    uri: http://gamification-api.dev/v1/collections/create-collection-for-update
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Collection&collection%5Bname%5D=Updated+Collection
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"63e7e01c356a649cd09bbb97ed264bdb"'
    body:
      encoding: UTF-8
      string: '{"id":"updated-collection","name":"Updated Collection","description":"Updated
        Collection","created_at":"2015-04-30T13:42:24.233Z","updated_at":"2015-04-30T13:42:24.325Z"}'
  recorded_at: Thu, 30 Apr 2015 13:42:24 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/create-collection-for-update
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"63e7e01c356a649cd09bbb97ed264bdb"'
    body:
      encoding: UTF-8
      string: '{"id":"updated-collection","name":"Updated Collection","description":"Updated
        Collection","created_at":"2015-04-30T13:42:24.233Z","updated_at":"2015-04-30T13:42:24.325Z"}'
  recorded_at: Thu, 30 Apr 2015 13:42:24 GMT
recorded_with: VCR 2.9.3
