---
http_interactions:
- request:
    method: patch
    uri: http://gamification-api.dev/v1/collections/6
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=Updated+Collection&collection%5Bname%5D=Updated+Collection
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"54285cad57e8779338afdd28642a9398"'
    body:
      encoding: UTF-8
      string: '{"id":6,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-04-16T13:54:33.331Z","updated_at":"2015-04-16T13:54:33.375Z"}'
  recorded_at: Thu, 16 Apr 2015 13:54:33 GMT
[...]
- request:
    method: post
    uri: http://gamification-api.dev/v1/collections
    body:
      encoding: UTF-8
      string: collection%5Bdescription%5D=This+is+a+new+collection&collection%5Bname%5D=Create+Collection+for+update
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1fb278c90972160d70b2ba15b9cf6cb7"'
    body:
      encoding: UTF-8
      string: '{"id":18,"name":"Create Collection for update","description":"This
        is a new collection","created_at":"2015-04-16T14:26:22.215Z","updated_at":"2015-04-16T14:26:22.215Z"}'
  recorded_at: Thu, 16 Apr 2015 14:26:22 GMT
[...]
- request:
    method: delete
    uri: http://gamification-api.dev/v1/collections/18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="c9cde524238644fa93393159e5e9ad87"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e0942f4b8169bf1ea492cef5e2498659"'
    body:
      encoding: UTF-8
      string: '{"id":18,"name":"Updated Collection","description":"Updated Collection","created_at":"2015-04-16T14:26:22.215Z","updated_at":"2015-04-16T14:26:22.255Z"}'
  recorded_at: Thu, 16 Apr 2015 14:26:22 GMT
recorded_with: VCR 2.9.3
